﻿<div class="container-fluid">
<form class="form-inline">



            <div class="form-group">
                <label for="email">Desde </label>
                <div class="input-group" datetimepicker on-change="vm.update(vm.date, vm.date2)" ng-model="vm.date" options="vm.optionsFrom" >
                    <input type="text" class="form-control" style="width:120px;"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    <div></div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Hasta</label>
                <div class="input-group" datetimepicker on-change="vm.update(vm.date, vm.date2)" ng-model="vm.date2" options="vm.optionsTo">
                    <input type="text" class="form-control" style="width:120px;"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    <div></div>
                </div>

            </div>

</form>
</div>
