<style type="text/css">

    .md-datepicker-calendar-pane{
        z-index: 1200}

     .datepickerdemo md-content {
            padding-bottom: 200px; 
         }
         
        .datepickerdemo .validation-messages {
            font-size: 11px;
            color: darkred;
            margin: 10px 0 0 25px; 
         }

    .eselected {
        background: #6d6e72;
        color: white;
    }

    .btn:focus {
        background: #6d6e72;
        color: white;
    }

    .ng-table-counts {
        display: none;
    }

    .ng-table-pager {
        float: right;
    }

    .btn {
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
    }

    .card .filter {
        position: relative;
        z-index: -40;
        background-color: rgba(255, 255, 255, 0.68);
        top: 0;
        left: 0;
        width: 20%;
        text-align: center;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .card .title {
        font-size: 14px;
    }

    .sort-indicator {
        font-size: 14px;
    }
</style>

<script src="../../Scripts/bootstrap-filestyle.min.js"></script>
 

<div class="row" ng-controller="DocumentosCtrl as vm" ng-init="init()">

    <ul role="tablist" class="nav nav-tabs">
        <li ng-class="{active:isSelected(1)}">
            <a ng-click="selectTab(1)"><i class="fa fa-server"></i> Documentos</a>
        </li>
    </ul>

    <div class="tab-content" ng-if="final">
        <div id="icon-info" ng-if="tab===1" class="container-fluid">

            <div class="container-fluid">
                <div class="row">
                    <div class="row">
                        <br />
                        <br />
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-3"  ng-show="false">
                                                <div class="col-md-12">
                                                    <div class="form-group" ng-show="false">
                                                        <label for="descripcion">Nombre</label>
                                                        <div>
                                                            <input type="text" name="name" class="form-control" placeholder="Nombre" ng-model="em.description">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="empresa">Empresa</label>
                                                        <div>
                                                            <ui-select theme="bootstrap" ng-model="empresas.selected">
                                                                <ui-select-match allow-clear="true" placeholder="Selecciona">{{$select.selected.eM_NOMBRE}}</ui-select-match>

                                                                <ui-select-choices repeat="item in empresas | filter: $select.search">
                                                                    <div ng-bind-html="item.eM_NOMBRE | highlight: $select.search"></div>
                                                                    <!-- <small ng-bind-html="item.client_id | highlight: $select.search"></small> -->
                                                                </ui-select-choices>

                                                            </ui-select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="empresa">Categor&iacute;a</label>
                                                        <div>
                                                            <ui-select theme="bootstrap" ng-model="categoria.selected">
                                                                <ui-select-match allow-clear="true" placeholder="Selecciona">{{$select.selected.fI_NOMBRE}}</ui-select-match>

                                                                <ui-select-choices repeat="item in categoria | filter: $select.search">
                                                                    <div ng-bind-html="item.fI_NOMBRE | highlight: $select.search"></div>
                                                                    <!-- <small ng-bind-html="item.client_id | highlight: $select.search"></small> -->
                                                                </ui-select-choices>
                                                            </ui-select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="empresa">Servicio</label>
                                                        <div>
                                                            <ui-select theme="bootstrap" ng-model="servicios2.selected">
                                                                <ui-select-match allow-clear="true" placeholder="Selecciona">{{$select.selected.sE_NOMBRE}}</ui-select-match>

                                                                <ui-select-choices repeat="item in servicios2 | filter: $select.search">
                                                                    <div ng-bind-html="item.sE_NOMBRE | highlight: $select.search"></div>
                                                                </ui-select-choices>

                                                            </ui-select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>

                                    <div class="row" ng-controller="dtpickerController as vm">
                                        <div class="col-md-3">
                                            <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="empresa">Periodo</label>
                                                        <div>
                                                            <ui-select theme="bootstrap" ng-model="periodos.selected" ng-change="SeleccionarPeriodo(periodos.selected.value)">
                                                                <ui-select-match allow-clear="true" placeholder="Selecciona">{{$select.selected.text}}</ui-select-match>

                                                                <ui-select-choices repeat="item in periodos | filter: $select.search">
                                                                    <div ng-bind-html="item.text | highlight: $select.search"></div>
                                                                </ui-select-choices>

                                                            </ui-select>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="col-md-6" ng-if="fechavisible">
                                            <div class="col-md-6">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="email">Desde </label>
                                                        <div class="input-group" datetimepicker on-change="vm.update(vm.date, vm.date2)" ng-model="vm.date" options="vm.optionsFrom">
                                                            <input type="text" class="form-control" />
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                            <div></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="email">Hasta</label>
                                                        <div class="input-group" datetimepicker on-change="vm.update(vm.date, vm.date2)" ng-model="vm.date2" options="vm.optionsTo">
                                                            <input type="text" class="form-control" />
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                            <div></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-3">

                                            <div class="col-md-12">
                                                <div class="form-group">

                                                    <div class="pull-right">
                                                        <div class="input-group">
                                                            <br />
                                                            <button class="btn btn-success btn-fill" id="btnBuscar" ng-click="entrefechas(vm.date,vm.date2,empresas.selected.eM_ID,em.description,categoria.selected.fI_CODIGO,servicios2.selected.sE_ID,periodos.selected.value)">Buscar</button>

                                                            &nbsp;
                                                            <button data-toggle="modal" ng-hide="btnAgregarDocumento_O" ng-disabled="btnAgregarDocumento_D" href="#modalAgregarDocumento" type="button" class="btn btn-info btn-fill" ng-click="modalClear()">
                                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar Documento
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <hr />
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="card">
                <div class="footer">
                    <div class="card">
                        <div class="content">
                            <table ng-table="tableParams" class="table table-striped table-bordered" align="center" cellpadding="0" cellspacing="0" show-filter="false">
                                <tr ng-repeat="tarea in $data">
                                    <td data-title="'Nombre'" sortable="'dO_DESCRIPCION'">
                                        <p class="text-center">{{tarea.dO_NOMBRE}}</p>
                                    </td>
                                    <td data-title="'Empresa'" style="font-size:14px;" sortable="'sE_NOMBRE'">
                                        <p class="text-center">{{tarea.eM_NOMBRE}}</p>
                                    </td>
                                    <td data-title="'Servicio'" style="font-size:14px;" sortable="'sE_NOMBRE'">
                                        <p class="text-center">{{tarea.sE_NOMBRE}}</p>
                                    </td>
                                    <td data-title="'Categoria'" style="font-size:14px;" sortable="'cA_DESCRIPCION'">
                                        <p class="text-center">{{tarea.cA_DESCRIPCION}}</p>
                                    </td>
                                    <td>
                                        <div class="form-inline form-group-sm text-center">
                                            <button class="btn btn-info btn-sm btn-fill" ng-click="clickEliminarDoc(tarea.dO_NOMBRE)" ng-hide="true">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                            </button>
                                            <button class="btn btn-success btn-sm btn-fill" href='#myColaborador' ng-click="clickShowfile(tarea.dO_DESCRIPCION)">
                                                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>


    <form name="form" role="form" class="form-horizontal" novalidate>

        <div class="modal fade" id="modalAgregarDocumento" style="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">

            <div class="modal-dialog">

                <div class="loading-panel" id="panelLoad" style="display:none;">
                    <img class="loading-panel-image" src="../../../../app/directives/2.gif" alt="Loading..." />
                </div>

                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                        <h4 class="modal-title">Agregar Documento</h4>
                    </div>
                    <div class="modal-body">
                        <!--EMPRESA-->
                        <div class="form-group">
                            <label class="col-md-2 control-label">Empresa:</label>
                            <div class="col-md-9">
                                <select ng-options="empresa.eM_ID as empresa.eM_NOMBRE for empresa in empresas" placeholder="Selecciona" class="form-control" ng-model="modal.empresa" required>
                                    <option value="" label="Seleccione" disabled selected="selected"></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">Servicio:</label>
                            <div class="col-md-9">
                                <select ng-options="servicio.sE_ID as servicio.sE_NOMBRE for servicio in servicios" class="form-control" ng-model="modal.servicios" required>
                                    <option value="" label="Seleccione" disabled selected="selected"></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">Categoria:</label>
                            <div class="col-md-9">

                                <select ng-options="categoria.fI_CODIGO as categoria.fI_NOMBRE for categoria in categoriaModal"
                                        class="form-control" ng-model="modal.categoria" required>
                                    <option value="" label="Seleccione" disabled selected="selected"></option>
                                </select>

                            </div>
                        </div>

                        <!--NOMBRE-->
                        <div class="form-group">
                            <label class="col-md-2 control-label">Nombre:</label>
                            <div class="col-md-9">
                                <input type="text" name="modalname" class="form-control" placeholder="Nombre" ng-model="modal.nombre" maxlength="30" required>
                                <span style="color:red;" ng-show="!form.modalname.$pristine && form.modalname.$error.required">El nombre es requerido.</span>
                            </div>
                        </div>

                        <!--NOMBRE-->
                        <div class="form-group" >
                            <label class="col-md-2 control-label">Fecha:</label>
                            <div class="col-md-9">
                                <md-datepicker class = "datepickerdemo" ng-model="vm.myDate" md-placeholder="Enter date"></md-datepicker>
                            </div>
                        </div>
 
                        <!--<div class="form-group">
                            <label class="col-md-2 control-label">Fecha:</label>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input type="text" name="modalname" class="form-control" placeholder="Fecha" ng-model="modal.fechaR" maxlength="30" required>
                                </div>
                            </div>
                        </div>-->

                        <div class="form-group" ng-hide="hasFiles">
                            <label class="col-md-2 control-label">Selecciona:</label>
                            <!--<input type="file" class="uploadFile" accept="application/pdf"  ngf-select ng-model="file" ngf-multiple="true">-->
                            <div class="col-md-9">

                                <input type="file" id="fileupload" ngf-select ng-model="file" name="file" class="filestyle"
                                       data-buttonBefore="true" data-buttonText="Archivo"
                                       data-placeholder="No hay archivo"
                                       accept="application/pdf" ngf-max-size="20MB" required
                                       ngf-model-invalid="errorFile" ngf-multiple="false">
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <input class="btn btn- btn-fill" type="reset" value="cancel" ng-click="modalClear()" data-dismiss="modal"  />
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="modalClear()">Cerrar</button>-->
                        <button type="submit" class="btn btn-success btn-fill" ng-click="submit()" ng-disabled="!form.$valid">Agregar</button>
                    </div>

                </div>
            </div>
            <!-- /.modal-dialog -->
        </div>

    </form>

</div>

<!--<div ng-controller="DocumentosCtrl as vm">
    <div class="row">
        <div class="col-md-12">
            <h3>Archivos</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <loading-spinner active="vm.spinner.active">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-11 col-xs-10">Name</div>
                            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">Size (kb)</div>
                            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">Created on</div>
                            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">Modified on</div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2"></div>
                        </div>
                    </li>
                    <li class="list-group-item" ng-show="vm.UploadedFiles.length === 0">No hay archivos</li>
                    <li ng-repeat="UploadedFile in vm.UploadedFiles" class="list-group-item">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-11 col-xs-10 wraptext">{{UploadedFile.FileName}}</div>
                            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">{{UploadedFile.FileLength}}</div>
                            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">{{UploadedFile.Created | date: short}}</div>
                            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">{{UploadedFile.Modified | date: short}}</div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                                <button type="button" class="btn btn-xs btn-danger">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </loading-spinner>

            <form name="newPhotosForm" role="form" enctype="multipart/form-data">
                <div class="form-group" ng-hide="hasFiles">
                    <label for="newPhotos">Seleccion</label>
                    <input type="file" id="newPhotos" class="uploadFile" accept="application/pdf" ng-file-select="vm.startUploading($files)" ngf-multiple="true">
                </div>
                <div class="form-group">
                    <ul class="list-unstyled" ng-model="vm.files">
                        <li>
                            <strong>Files:</strong>
                        </li>
                        <li ng-repeat="UploadedFile in files"> {{UploadedFile.FileName}}</li>
                    </ul>
                    <input class="btn btn-primary" type="button" ng-click="vm.startUploading(files)" value="upload">
                    <input class="btn btn-warning" type="reset" value="cancel" />
                </div>
            </form>
        </div>
        <div class="col-md-4 hidden-sm hidden-xs" style="height: 250px; margin-bottom: 5px; width: 250px;">
            <img ng-src="uploads/{{vm.previewPhoto.FileName}}" style="max-height: 250px" ng-show="vm.previewPhoto" class="img-responsive" alt="vm.previewPhoto.FileName" />
        </div>
    </div>

</div>-->
