﻿<!--<style>
    .ng-table-counts {
    }

    .ng-table-pager {
        float: right !important;
    }

    .task-desc a {
        font-weight: 600;
        display: inline-block;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    a:visited {
        color: #F37F69;
        text-decoration: none;
    }

    .task-desc span {
        display: block;
        color: #999;
        font-size: 11px;
        margin-top: -2px;
    }

    .modal-dialog.modal-lg {
        width: 98% !important;
    }

    .ui-select-container.ui-select-multiple.ui-select-bootstrap.dropdown.form-control.ng-valid {
        height: 38px !important;
    }

    .especial {
        font-size: 22px;
        font: bold;
        font-family: "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }

    .datatable-scroll {
        overflow-x: scroll;
    }

    table tbody tr td {
        border-right: none !important;
    }


</style>-->

<style>
    #menubutton {
        margin-right: 250px;
    }


    @media (max-width: 600px) {
        .facet_sidebar {
            display: none;
        }

        #menubutton {
            margin-right: 0px;
        }
    }

    #iconm {
        height: 38px;
        width: 38px;
        min-height: 45px;
        min-width: 45px;
    }

    md-list-item._md-button-wrap > div.md-button:first-child > .md-button:first-child {
    
    cursor:auto;
    
    }
   
</style>



<div class="container-fluid" ng-cloak>

    <div flex-gt-sm="100">

        <md-toolbar layout="row" class="md-hue-5" style="background-color: rgb(130, 123, 123);">

            <div class="md-toolbar-tools">
                <h2>
                    <span>Gestion de Accesos</span>
                </h2>

                <span flex></span>





            </div>
        </md-toolbar>

        <md-toolbar class="md-hue-1" ng-show="true">

            <form name="formbusqueda" novalidate>
                <md-content layout="row" layout-xs="column" style="font-size:15px;" layout-padding="20px">

                    <md-input-container flex="40%">
                        <label>Empresa</label>
                        <md-select ng-model="form.selectedEmpresa1" name="search_empresa" aria-label="Seleccionar Empresa">
                            <md-option ng-repeat="empresa in empresas" ng-value="empresa">{{empresa.eM_NOMBRE}}</md-option>
                        </md-select>
                        <!--<div ng-messages="formbusqueda.search_empresa.$error">
                            <div ng-message="required">Se requiere la empresa</div>
                        </div>-->
                    </md-input-container>

                    <md-input-container flex>
                        <label>Ingrese Nombre</label>
                        <input ng-model="nami" name="user_search" press-enter="formbusqueda.$valid && searchuser(form.selectedEmpresa1,nami) " required>

                        <div ng-messages="formbusqueda.user_search.$error">
                            <div ng-message="required">Se requiere ingresar el nombre del usuario</div>
                        </div>
                    </md-input-container>



                    <div layout="column" layout-xs="column" layout-margin="column">

                        <md-button flex="50%" ng-click="formbusqueda.$valid && searchuser(form.selectedEmpresa1,nami)  " ng-disabled="!formbusqueda.$valid">
                            <md-tooltip>Buscar Usuario</md-tooltip>
                            <img src="app/images/search.svg" style="width:100px;height:50px;" />
                        </md-button>

                        <md-button flex="50%" ng-click="newuser($event)">
                            <md-tooltip>Agregar Usuario</md-tooltip>
                            <img src="app/images/svg/svg/user-20.svg" style="width:100px;height:50px;" />
                        </md-button>




                    </div>


                </md-content>
            </form>

        </md-toolbar>

        <md-divider></md-divider>
        <md-content>
            <md-list>



                <md-list-item class="md-3-line" ng-repeat="user in userad" ng-click="nada()" style="cursor: auto">

                    <md-button style="width:auto;height:auto;" ng-show="user.Enabled" class="md-icon-button test-tooltip" aria-label="Refresh">
                        <md-tooltip md-direction="top">Habilitado</md-tooltip>
                        <md-icon id="iconm" md-svg-src="app/images/svg/svg/user-23.svg"
                               >
                        </md-icon>
                    </md-button>

                        <!--<img ng-show="user.Enabled" src="app/images/svg/svg/user-23.svg" style="width:100px;height:50px;" />
                        <md-tooltip md-direction="top">
                            Habilitado
                        </md-tooltip>-->

                    <md-button style="width:auto;height:auto;" ng-show="user.LockedOut" class="md-icon-button test-tooltip" aria-label="Refresh">
                        <md-tooltip md-direction="top">Bloqueado</md-tooltip>
                        <md-icon id="iconm" md-svg-src="app/images/svg/svg/user-31.svg">
                        </md-icon>
                    </md-button>

                 

               
                    <md-button style="width:auto;height:auto;"  ng-show="!user.Enabled" class="md-icon-button test-tooltip" aria-label="Refresh">
                        <md-tooltip md-direction="top">Deshabilitado</md-tooltip>
                        <md-icon id="iconm" md-svg-src="app/images/svg/svg/user-21.svg">
                        </md-icon>
                    </md-button>

                    <div class="md-list-item-text" layout="row" flex="50%">
                        <h3 style="font-weight: bold">{{user.DisplayName}}</h3>
                        <h3 style="font-weight: bold" ng-if="user.DisplayName===null">{{user.Name}}</h3>
                    </div>

                    <div layout="row">

                        <md-menu id="menubutton">
                            <md-button style="width:auto;height:auto;" aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                                <md-icon id="iconm" md-menu-origin="" md-svg-icon="app/images/acciones/settings.svg"></md-icon>
                            </md-button>
                            <md-menu-content width="4">
                                <md-menu-item>
                                    <md-button ng-click="showuser($event,user,true)">
                                        <md-icon md-svg-icon="app/images/acciones/editar.svg" md-menu-align-target=""></md-icon>
                                        Editar
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="changepassword($event,user,$index)">
                                        <md-icon md-svg-icon="app/images/acciones/password.svg"></md-icon>
                                        Cambiar Password
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="changeou($event,user,$index,form.selectedEmpresa1)">
                                        <md-icon md-svg-icon="app/images/acciones/change.svg"></md-icon>
                                        Cambiar OU
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="permisos($event,user,$index,form.selectedEmpresa1)">
                                        <md-icon md-svg-icon="app/images/acciones/permisos.svg"></md-icon>
                                        Permisos
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item ng-show="!user.Enabled">
                                    <md-button ng-click="enableuser($event,user,$index)">
                                        <md-icon md-svg-icon="app/images/acciones/habilitar.svg"></md-icon>
                                        Habilitar
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item ng-show="user.Enabled">
                                    <md-button ng-click="disableuser($event,user,$index)">
                                        <md-icon md-svg-icon="app/images/acciones/deshabilitar.svg"></md-icon>
                                        Deshabilitar
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item ng-show="user.LockedOut">
                                    <md-button ng-click="unlockuser($event,user,$index)">
                                        <md-icon md-svg-icon="app/images/acciones/desbloquear.svg"></md-icon>
                                        Desbloquear
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item ng-if="useri.empresa_id == 3">
                                    <md-button ng-click="bajauser($event,user,$index)" >
                                        <md-icon md-svg-icon="app/images/acciones/baja.svg"></md-icon>
                                        Baja Usuario
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item ng-if="useri.rol===39">
                                    <md-button ng-click="deleteuser($event,user,$index)">
                                        <md-icon md-svg-icon="app/images/acciones/eliminar.svg"></md-icon>
                                        Eliminar
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>



                    </div>


                </md-list-item>

            </md-list>
        </md-content>

    </div>


</div>
