﻿<!--<div class="container-fluid ng-cloak">
    <div class="row">
        <div class="card">
            <div class="row">
                <div class="col-md-12" ng-controller="reporte10">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel-heading">REPORTE TIEMPO PROMEDIO SAP</div>
                              
                            </div>
                         
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="btn-group">
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-4">
                                        <ui-select theme="bootstrap" ng-model="form.selectedEmpresa10" style="width: 100%;">
                                            <ui-select-match allow-clear="true" placeholder="Empresa">{{$select.selected.eM_NOMBRE}}</ui-select-match>
                                            <ui-select-choices repeat="empresa in empresas | filter: $select.search">
                                                <div ng-bind-html="empresa.eM_NOMBRE | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="col-md-4">
                                        <ui-select theme="bootstrap" ng-model="form.years" style="width: 100%;">
                                            <ui-select-match allow-clear="true" placeholder="año">{{$select.selected}}</ui-select-match>
                                            <ui-select-choices repeat="year in years | filter: $select.search">
                                                <div ng-bind-html="year | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-success btn-fill" ng-click="getchart(2,form.selectedEmpresa10.eM_ID,dash10,form.years)">Buscar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-12">
                            <hr />
                        </div>
                    </div>
                    <div ng-show="nodata0010"> No hay Información</div>
                    <div class="content" ng-hide="nodata0010">
                        <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" chart-options="options" chart-series="series" chart-colors="colors" chart-click="onClick"></canvas>
                    </div>
                    <div class="footer" ng-hide="nodata0010">
                        <table class="table table-hover table-bordered" align="center">
                            <thead>
                                <tr>
                                    <th ng-repeat="label in fullkeys10">{{label}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(key, val) in ff10 ">
                                    <td ng-repeat="var in ff10[$index] track by $index">{{var}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->

<md-card>
    <md-card-tittle>
        Tiempo Promedio SAP
    </md-card-tittle>
    <md-card-content>
        contenido
    </md-card-content>


</md-card>