﻿<style>
    .ng-table-counts {
        display: none;
    }

    .ng-table-pager {
        float: right !important;
    }

    .task-desc a {
        font-weight: 600;
        display: inline-block;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    a:visited {
        color: #F37F69;
        text-decoration: none;
    }

    .task-desc span {
        display: block;
        color: #999;
        font-size: 11px;
        margin-top: -2px;
    }

    .modal-dialog.modal-lg {
        width: 98% !important;
    }

    .ui-select-container.ui-select-multiple.ui-select-bootstrap.dropdown.form-control.ng-valid {
        height: 38px !important;
    }

    .especial {
        font-size: 22px;
        font: bold;
        font-family: "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }

    .datatable-scroll {
        overflow-x: scroll;
    }

    table tbody tr td {
        border-right: none !important;
    }

    #tabla1 th {
        color: white !important;
    }

    .card .filter {
        position: relative;
        /* z-index: 0;*/
        background-color: rgba(255, 255, 255, 0.68) !important;
        top: 0;
        left: 0;
        width: 20%;
        text-align: center;
    }

    .sort-indicator {
        font-size: 14px;
        float: left;
    }

    .ntablecolab tr > td {
        font-size: 11px !important;
    }
</style>
<script type='text/javascript'>
function highlight(field) {
    field.focus();
    field.select();
}
</script>
<script type='text/javascript'>
$('#excel').tooltip();
</script>
<div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-hidden="true">×</button>
    <h4 class="modal-title">STATUS DE TICKET</h4>
</div>
<div class="modal-body" width="60%">
    <div class="container-fluid">
        <div class="row">
            <h4 class="pull-right" style="color: #969696">Estados del Ticket</h4>
            <a class="pull-right" style="cursor:pointer;position: absolute;z-index:2" id="excel" data-toggle="tooltip" title="Exportar a excel" data-placement="right" ng-click="exportarexcel()">
                <img src="../../../../app/images/excel2.png" height="35px" width="35px" />
            </a>
        </div>
        <div class="row">
            <div class="card">
                <div class="datatable-scroll">
                    <table ng-table="tableParams" class="table table-striped panel ntablecolab" align="center" cellpadding="0" cellspacing="0" show-filter="false">
                        <tr ng-repeat="tiob in $data">
                            <td data-title="'ITEM'">
                                {{tiob.item}}
                            </td>
                            <td data-title="'Estado'">
                                {{tiob.state}}
                            </td>
                            <!--<td data-title="'Resolutor Actual'" >
                                {{tiob.actual}}
                            </td>-->
                            <td data-title="'Tiempo de Atención'">
                                {{tiob.tiempo }}
                            </td>
                            <!--<td data-title="'Tiempo de Resolución'" >
                                {{tiob.fechaApertura | date:"dd/MM/y HH:mm:ss"}}
                            </td>
                            <td data-title="'Fecha Resolución'" >
                                {{tiob.fechaResolucion | date:"dd/MM/y HH:mm:ss"}}
                            </td>-->
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
