﻿<style>
    .eselected {
        background: #6d6e72;
        color: white;
    }

    .btn:focus {
        background: #6d6e72;
        color: white;
    }

    .btn {
        -webkit-transition-duration: 0.4s;
        /* Safari */
        transition-duration: 0.4s;
    }

    .row ul > li > a {
        font-size: 13px;
    }

    .row ul > li {
        cursor: pointer;
    }

    .ng-table-counts {
        display: none;
    }

    .ng-table-pager {
        float: right !important;
    }

    .task-desc a {
        font-weight: 600;
        display: inline-block;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    a:visited {
        color: #F37F69;
        text-decoration: none;
    }

    .task-desc span {
        display: block;
        color: #999;
        font-size: 11px;
        margin-top: -2px;
    }

    .modal-dialog.modal-lg {
        width: 98% !important;
    }

    .ui-select-container.ui-select-multiple.ui-select-bootstrap.dropdown.form-control.ng-valid {
        height: 38px !important;
    }

    .especial {
        font-size: 22px;
        font: bold;
        font-family: "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }

    .datatable-scroll {
        overflow-x: scroll;
    }

    table tbody tr td {
        border-right: none !important;
    }

    table thead th {
        border-right: none !important;
        width: 20px;
    }

    #tabla1 th {
        color: white !important;
    }

    .card .filter {
        position: relative;
        /* z-index: 0;*/
        background-color: rgba(255, 255, 255, 0.68) !important;
        top: 0;
        left: 0;
        width: 20%;
        text-align: center;
        /*opacity: 0;
    filter: alpha(opacity=0);*/
    }

    .sort-indicator {
        font-size: 14px;
        float: left;
    }

    .ntablecolab tr > td {
        font-size: 11px !important;
    }

    .red {
        color: red;
    }
</style>

<script type='text/javascript'>
    function highlight(field) {
        field.focus();
        field.select();
    }
</script>
<div class="card">
    <div class="row" ng-controller="InventarioCtrl as vm">
        <div style="padding: 15px 15px 0px;  color: #333333; font-weight: 300; ">
            <div class="row">
                <div class="col-md-12">

                    <div class="col-md-3">
                        <ui-select theme="bootstrap" ng-model="estado.selected">
                            <ui-select-match allow-clear="true" placeholder="Estado">{{$select.selected.esT_DESC}}</ui-select-match>
                            <ui-select-choices repeat="item in estado | filter: $select.search">
                                <div ng-bind-html="item.esT_DESC | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-md-3">
                        <ui-select theme="bootstrap" ng-model="admpor.selected">
                            <ui-select-match allow-clear="true" placeholder="Administrado por">{{$select.selected.adminDesc}}</ui-select-match>
                            <ui-select-choices repeat="item in admpor | filter: $select.search">
                                <div ng-bind-html="item.adminDesc | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-md-3">
                             <div>
                            <input type="text" name="name" class="form-control" placeholder="HOSTNAME/VWNAME" ng-model="em.hostname">
                        </div>
                       <!-- <ui-select theme="bootstrap" ng-model="empresas.selected">
                            <ui-select-match allow-clear="true" placeholder="Empresa">{$select.selected.eM_NOMBRE}}</ui-select-match>
                            <ui-select-choices repeat="item in empresas | filter: $select.search">
                                <div ng-bind-html="item.eM_NOMBRE | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>-->
                    </div>
                    <div class="col-md-2">
                        <div class="pull-right">
                            <div class="input-group">
                                <button class="btn btn-success btn-fill" id="btnBuscar" ng-click="BuscarInventario(em.hostname, em.serie, em.ip, empresas.selected.eM_ID, estado.selected.esT_ID, admpor.selected.adminID)"> Buscar </button>
                            </div>
                        </div>
                    </div>

                    <!--<div class="col-md-3">
    <div class="pull-right">
        <div class="input-group">
            <button class="btn btn-success btn-fill" id="btnBuscar" ng-click="BuscarInventario(em.hostname, em.serie, em.ip, empresas.selected.eM_ID, estado.selected.esT_ID, admpor.selected.adminID)">Buscar</button>
            <button class="btn btn-success btn-fill" id="tbnNuevo" ng-click="NuevoInventario(1,-1)">Nuevo</button>
            </div>
                    </div>
                </div>-->


                </div>
            </div>
        </div>
 <!--     <div style="padding: 15px 15px 0px;  color: #333333; font-weight: 300; ">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                   
                    </div>
                    <div class="col-md-3">
                        <div>
                            <input type="text" name="name" class="form-control" placeholder="SERIE" ng-model="em.serie">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <input type="text" name="name" class="form-control" placeholder="IP" ng-model="em.ip" ng-hide="true">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <!--<div class="pull-right">
                    <div class="input-group">
                        <button class="btn btn-success btn-fill" id="btnBuscar" ng-click="BuscarInventario(em.hostname, em.serie, em.ip, empresas.selected.eM_ID, estado.selected.esT_ID, admpor.selected.adminID)">Buscar</button>
                    </div>
                    </div> ----------------------------
                    </div>
                </div>
            </div>
            <br />
        </div>-->  

        <!-- <div style="padding: 150px 80px 20px;font-weight: 300;background-color:aqua">

     </div>-->



        <div style="padding: 15px 15px 0px;font-weight: 300;">
            <div class="row">
                <div class="col-md-12">
                    <div class="datatable-scroll" style="font-size:12px;">
                        <table ng-table="tableParams" class='table table-bordered dataTable'
                               cellspacing='0' show-filter="true" align="center">
                            <tr ng-repeat="tiob in $data" style="text-align:center;">
                                <td data-title="'HOSTNAME DEL SERVER'" sortable="'iteM_HOSTNAME'" filter="{ 'iteM_HOSTNAME': 'text' }">
                                    <a ng-click="NuevoInventario(2,tiob.ecI_ID)" style="cursor:pointer;">{{tiob.iteM_HOSTNAME}}</a>
                                </td>
                                <td data-title="'  VMNAME  '" sortable="'iteM_VMNAME'" filter="{ 'iteM_VMNAME': 'text' }">
                                    {{tiob.iteM_VMNAME}}
                                </td>
                                <td data-title="'ESTADO'" sortable="'estado'" filter="{ 'estado': 'text' }">
                                    {{tiob.estado}}
                                </td>
                                <td data-title="'FAMILIA'" sortable="'familia'" filter="{ 'familia': 'text' }">
                                    {{tiob.familia}}
                                </td>
                                <td data-title="'DIRECCION IP'" sortable="'iteM_IP'" filter="{ 'iteM_IP': 'text' }">
                                    {{tiob.iteM_IP}}
                                </td>
                                <td data-title="'AMBIENTE'" sortable="'amB_DESC'" filter="{ 'amB_DESC': 'text' }">
                                    {{tiob.amB_DESC}}
                                </td>
                                <td data-title="'TIPO DE SISTEMA'" sortable="'rol'" filter="{ 'rol': 'text' }">
                                    {{tiob.rol}}
                                </td>
                                <td data-title="'MARCA'" sortable="'marca'" filter="{ 'marca': 'text' }">
                                    {{tiob.marca}}
                                </td>
                                <td data-title="'MODELO'" sortable="'mO_MODELO'" filter="{ 'mO_MODELO': 'text' }">
                                    {{tiob.mO_MODELO}}
                                </td>
                                <td data-title="'ADMIN POR'" sortable="'admindesc'" filter="{ 'admindesc': 'text' }">
                                    {{tiob.admindesc}}
                                </td>

                                <!--<td data-title="'CRITICIDAD'" sortable="'criticidad'" filter="{ 'criticidad': 'text' }">
                            </td>
                            <td data-title="'CLASE'" sortable="'clasE_ALIAS'" filter="{ 'clasE_ALIAS': 'text' }">

                            </td>-->
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>

