﻿<!--[if lte IE 8]>
     <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
   <![endif]-->
<!-- Add your site or application content here -->
<!-- <div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">masterGenerysV1</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li class="active"><a href="#/">Home</a></li>
          <li><a ng-href="#/about">About</a></li>
          <li><a ng-href="#/">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div> -->


    <div class="wrapper" style="overflow:hidden;" ng-controller="MainCtrl">

        <nav class="navbar navbar-default navbar-fixed" style="background-color:#D8D8D8" ng-style="zindexvalue && {'z-index':'30'}">
            <div class="container-fluid">
                <div class="navbar-minimize">
                 
                    <button id="minimizeSidebar" style="background-color:grey; border-color:white" class="btn btn-warning btn-fill btn-round btn-icon">
                        <i class="fa fa-ellipsis-v visible-on-sidebar-regular"></i>
                        <i class="fa fa-navicon visible-on-sidebar-mini"></i>
                    </button>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" ng-click="open()">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" style="color:black">Portal de Información</a>
                    
                </div>
                <div class="collapse navbar-collapse">
                    
                    <!--  <form class="navbar-form navbar-left navbar-search-form" role="search">
                               <div class="input-group">
                                 <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                 <input type="text" value="" class="form-control" placeholder="Search...">
                               </div>
                             </form>
                    -->
                    
                    <ul class="nav navbar-nav navbar-right">
                        <!-- <li>
                                     <a href="charts.html">
                                       <i class="fa fa-line-chart"></i>
                                       <p>Stats</p>
                                     </a>
                                   </li>
                        -->
                        <!--
                                   <li class="dropdown">
                                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                       <i class="fa fa-gavel"></i>
                                       <p class="hidden-md hidden-lg">
                                         Actions
                                         <b class="caret"></b>
                                       </p>
                                     </a>
                                     <ul class="dropdown-menu">
                                       <li><a href="#">Create New Post</a></li>
                                       <li><a href="#">Manage Something</a></li>
                                       <li><a href="#">Do Nothing</a></li>
                                       <li><a href="#">Submit to live</a></li>
                                       <li class="divider"></li>
                                       <li><a href="#">Another Action</a></li>
                                     </ul>
                                   </li>
                        -->
                        <!--  <li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                             <i class="fa fa-bell-o"></i>
                             <span class="notification">5</span>
                             <p class="hidden-md hidden-lg">
                               Notifications
                               <b class="caret"></b>
                             </p>
                           </a>
                           <ul class="dropdown-menu">
                             <li><a href="#">Notification 1</a></li>
                             <li><a href="#">Notification 2</a></li>
                             <li><a href="#">Notification 3</a></li>
                             <li><a href="#">Notification 4</a></li>
                             <li><a href="#">Another notification</a></li>
                           </ul>
                         </li> -->
                        <!--ng-controller="optionsharepoint"-->
                        
                        <li class="dropdown dropdown-with-icons">
                            
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-list"></i>
                                <p class="hidden-md hidden-lg">
                                    Opciones
                                    <b class="caret"></b>
                                </p>
                            </a>
                            <ul class="dropdown-menu dropdown-with-icons" ng-controller="optionsharepoint">
                            
                                <li>

                                    <a ng-click="CerrarSesion()">
                                        <i class="fa fa-sign-out"></i>
                                        Cerrar Sesión
                                    </a>
                                </li>
                                <li>
                                    <a ng-if="useri.empresa == 'GMD'" ng-click="DescargarManual('Manual de Usuario Portal de Informacion.pdf')">
                                        <i class="fa fa-download"></i>
                                       Manual de usuario
                                    </a>
                                    <a ng-if="useri.empresa != 'GMD' && useri.empresa != 'San Fernando HOSTING'" ng-click="DescargarManual('Manual de Usuario-Cliente.pdf')">
                                        <i class="fa fa-download"></i>
                                        Manual de usuario
                                    </a>
                                    <a ng-if="useri.empresa == 'San Fernando HOSTING'" ng-click="DescargarManual('Manual de Usuario Reporte de Performance de SAP v1.1.pdf')">
                                        <i class="fa fa-download"></i>
                                        Manual de usuario
                                    </a>
                                </li>
                            </ul>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>

        <div class="sidebar" data-color="personalise" >
            <!--

                Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
                Tip 2: you can also add an image using data-image tag

            -->

            <div class="logo">

                <a href="" class="logo-text">
                    <div>
                        {{nombreEmpresav}}

                        <!--<img ng-src="{{urlimage}}" width="100%" height="100%" ng-hide="true"/>-->

                    </div>

                    <!--<i class="pe-7s-global">-->
                    <!--</i>-->
                </a>
            </div>
            <div class="logo logo-mini">
                <a href="" class="logo-text">

                </a>
            </div>

            <div class="sidebar-wrapper">
                <div class="user">
                    <!--<div class="logo">
                        <img ng-src="{{urlimage}}" width="205" height="55"/>
                        <img src="app/images/logoEmpresas/logo_gmd.jpg" width="205" height="55" />


                         <a class="logo-text">
                            <p ng-bind="useri.empresa"></p>
                         </a>

                    </div>-->
                    <div class="info">
                        <a data-toggle="collapse" class="collapsed">
                            <div ng-bind="useri.name"></div>
                            <!--<div ng-bind="useri.empresa"></div>-->

                            <!-- <b class="caret"></b> -->


                        </a>
                        <!-- ng-click="collapsep()" <div class="collapse" ng-class="{in:valori}">
                             <ul class="nav">
                                 <li><a href="">My Profile</a></li>

                             </ul>
                         </div> -->
                    </div>
                </div>
                <ul class="nav" ng-controller="MyCtrl">

                    <li ng-repeat="item in menuItems" ng-class="{active:item.path===stati}" ng-click="colapsar();">
                        <a ui-sref="{{item.path}}">
                            <i class="{{item.icon}}"></i>
                            <p ng-bind="item.title"></p>
                        </a>
                    </li>

                    <!--Tarea para MAÑANA<li ng-repeat="item in menuItems2">
                        <a class="dropdown-toggle" data-toggle="collapse" ng-click="navi && collapse()">
                            <i class="pe-7s-note2"></i>
                            <p>
                                Gestor de Backups
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" ng-class="{in:valor}">
                            <ul class="nav">
                                <li ng-class="{active:isActive('/politicas')}">
                                    <a href="#/politicas">Politicas Backups</a>
                                </li>
                                <li ng-class="{active:isActive('/seguimiento')}">
                                    <a href="#/seguimiento">Seguimiento Backups</a>
                                </li>
                                <li ng-class="{active:isActive('/dashbk')}">
                                    <a href="#/dashbk">Dashboards</a>
                                </li>
                            </ul>
                        </div>
                    </li>-->







                </ul>
            </div>
        </div>

        <div class="main-panel" >


            <div class="content" >


                <div ui-view="content"></div>

            </div>


            <footer class="footer">
                <div class="container-fluid">

                    <p class="copyright pull-right">
                        &copy; Datacenter Corporativo <a href="">CANVIA</a>
                    </p>
                </div>
            </footer>

        </div>
    </div>

<script src="app/assets/js/light-bootstrap-dashboard.js"></script>


