﻿<style>
fieldset.scheduler-border {
    border: 1px groove #5BDAFA !important;
    padding: 0 2.5em 2.5em 2.5em !important;
    margin: 0 0 0 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 10 10px;
    border-bottom: none;
    color: #5BDAFA;
}

.form-group {
    margin-bottom: 1px !important;
}

.error {
    border-color: red;
}

.warning {
    border-color: orange;
}
</style>
<div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-hidden="true">×</button>
    <h4 class="modal-title">Agregar Colaborador</h4>
</div>
<div class="modal-body">
    <form name="formModalColab" class="form-horizontal" novalidate>
        <div class="row">
            <div class="col-md-6">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Datos Personales</legend>
                    <!--NOMBRE-->
                    <div class="form-group">
                        <label for="modalname" class="control-label">Nombre</label>
                        <div>
                            <input type="text" name="modalname" class="form-control" placeholder="Nombre" ng-model="modal.nombre" required ng-class="{ error: formModalColab.modalname.$error.required && !formModalColab.modalname.$pristine}">
                        </div>
                    </div>
                    <!--APELLIDO-->
                    <div class="form-group">
                        <label class="control-label">Apellido</label>
                        <div>
                            <input type="text" name="modalapellido" class="form-control" placeholder="Apellido" ng-model="modal.apellido" required ng-class="{ error: formModalColab.modalapellido.$error.required && !formModalColab.modalapellido.$pristine}">
                        </div>
                    </div>
                    <!--DNI-->
                    <div class="form-group">
                        <label class="control-label">DNI</label>
                        <div>
                            <input type="text" name="modaldni" class="form-control" placeholder="DNI" maxlength="8" ng-model="modal.dni">
                        </div>
                    </div>
                    <!--FIJO-->
                    <div class="form-group">
                        <label class="control-label">Fijo</label>
                        <div>
                            <input type="text" name="modalfijo" class="form-control" placeholder="Numero fijo" maxlength="9" ng-model="modal.fijo">
                        </div>
                    </div>
                    <!--CELULAR-->
                    <div class="form-group">
                        <label class="control-label">Celular</label>
                        <div>
                            <input type="text" name="modalcelular" class="form-control" placeholder="Celular" maxlength="9" ng-model="modal.celular">
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Datos Profesionales</legend>
                    <!--EMPRESA-->
                    <div class="form-group">
                        <label class="control-label">Empresa</label>
                        <div>
                            <select name="lol" ng-options="empresa.eM_ID as empresa.eM_NOMBRE for empresa in empresas" class="form-control" ng-model="modal.empresa" required></select>
                        </div>
                    </div>
                    <!--PERFIL-->
                    <div class="form-group">
                        <label class="control-label">Perfil</label>
                        <div>
                            <select ng-options="perfil.pE_ID as perfil.pE_NOMBRE for perfil in perfiles" class="form-control" ng-model="modal.perfil" required></select>
                        </div>
                    </div>
                    <!--CARGO-->
                    <div class="form-group">
                        <label class="control-label">Cargo</label>
                        <div>
                            <select ng-options="cargo.cR_ID as cargo.cR_NOMBRE for cargo in cargos" class="form-control" ng-model="modal.cargo" required></select>
                        </div>
                    </div>
                    <!--ALCANCE-->
                    <div class="form-group">
                        <label class="control-label">Alcance</label>
                        <div>
                            <select ng-options="alcance.aL_ID as alcance.aL_DESCRIPCION for alcance in alcances" class="form-control" ng-model="modal.alcance" required></select>
                        </div>
                    </div>
                    <!--DOMINIO-->
                    <div class="form-group">
                        <label class="control-label">Dominio</label>
                        <div>
                            <select ng-options="dominio.dO_ID as dominio.dO_NOMBRE for dominio in dominios" class="form-control" ng-model="modal.dominio" required></select>
                        </div>
                    </div>
                    <!--CUENTA-->
                    <div class="form-group">
                        <label class="control-label">Cuenta</label>
                        <div>
                            <input type="text" name="modalcuenta" class="form-control" placeholder="Cuenta" ng-model="modal.cuenta" required ng-class="{ error: formModalColab.modalcuenta.$error.required && !formModalColab.modalcuenta.$pristine}">
                        </div>
                    </div>
                    <!--EMAIL-->
                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <div>
                            <input type="email" name="modalemail" class="form-control" placeholder="Email" ng-model="modal.email" required ng-class="{ error: formModalColab.modalemail.$error.required && !formModalColab.modalemail.$pristine, warning:formModalColab.modalemail.$error.email }">
                        </div>
                    </div>
                    <!--ANEXO-->
                    <div class="form-group">
                        <label class="control-label">Anexo</label>
                        <div>
                            <input type="text" name="modalanexo" class="form-control" placeholder="Anexo" maxlength="5" ng-model="modal.anexo">
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default btn-fill" ng-click="close()">Cerrar</button>
    <button class="btn btn-success btn-fill" ng-click="clickInsertar()" ng-disabled="!formModalColab.$valid">Agregar</button>
</div>
