﻿<style>
    th.header.sortable {
    text-align: center !important;
    padding-left: 101px !important;
}

    .ng-table-counts {
        display: none;
    }

    .ng-table-pager {
        float: right !important;
    }

    .task-desc a {
        font-weight: 600;
        display: inline-block;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    a:visited {
        color: #F37F69;
        text-decoration: none;
    }

    .task-desc span {
        display: block;
        color: #999;
        font-size: 11px;
        margin-top: -2px;
    }

    .modal-dialog.modal-lg {
        width: 98% !important;
    }

    .ui-select-container.ui-select-multiple.ui-select-bootstrap.dropdown.form-control.ng-valid {
        height: 38px !important;
    }

    .especial {
        font-size: 22px;
        font: bold;
        font-family: "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }

    .datatable-scroll {
        overflow-x: scroll;
    }

    table tbody tr td {
        border-right: none !important;
    }

    #tabla1 th {
        color: white !important;
    }

    .card .filter {
        position: relative;
        /* z-index: 0;*/
        background-color: rgba(255, 255, 255, 0.68) !important;
        top: 0;
        left: 0;
        width: 20%;
        text-align: center;
        /*opacity: 0;
        filter: alpha(opacity=0);*/
    }

    .sort-indicator {
        font-size: 14px;
        float: left;
    }

    .ntablecolab tr > td {
        font-size: 12px !important;
    }
</style>


<script type='text/javascript'>
    $('#excel').tooltip();
</script>
<div id="panelTiempoSAPromedio" ng-if="$detallesap.number==1" >


        <div class="modal-header">
            <button type="button" class="close" ng-click="close()" aria-hidden="true">×</button>
            <h4 class="modal-title">Detalle {{$detallesap.text}}</h4>
        </div>

        <md-card ng-if="$detallesap.detalle.length==0">
            <md-card-content>

                <md-content layout="row" layout-align="center center">
                    <marquee><h4 style="color:silver">Sin resultados....</h4></marquee>
                </md-content>
            </md-card-content>
        </md-card>
        <!--<div style="overflow-y: hidden; overflow-x: auto;" >-->

      
       
        <div class="modal-body" width="100%">
            <div class="container-fluid">

                <div class="row">
                    <h6 class="pull-right" style="color: #969696;padding-right:10px">{{$detallesap.detalle.length}} Items</h6>
                    <div class="card">
                        <div class="header">

                            <a class="pull-right" style="cursor:pointer;position: absolute;z-index:2" id="excel" data-toggle="tooltip" title="Exportar a excel" data-placement="right" ng-click="exportarexcel()">
                                <img src="../../../../app/images/excel2.png" height="35" width="35" />
                            </a>
                        </div>
                        <br>
                        <br>
                        <div class="datatable-scroll">
                            <table ng-table="tableParams" class="table table-striped panel ntablecolab" align="center" cellpadding="0" cellspacing="0" show-filter="true">
                                <tr ng-repeat="item in $data" style="text-align:center">
                                    <td data-title="'Transacción'" sortable="'entrY_ID'" filter="{ 'entrY_ID': 'text' }">
                                        {{item.entrY_ID}}
                                    </td>
                                    <td data-title="'Pasos'" sortable="'count'" filter="{ 'count': 'text' }">
                                        {{item.count}}
                                    </td>
                                    <td data-title="'Intervalo'" sortable="'time'" filter="{ 'time': 'text' }">
                                        {{item.time}}
                                    </td>
                                    <td data-title="'Tiempo'" sortable="'respti'" filter="{ 'respti': 'text' }">
                                        {{item.respti}}
                                    </td>
                                    <td data-title="'Fecha'" sortable="'trP_FECHASAP'" filter="{ 'trP_FECHASAP': 'text' }">
                                        {{item.trP_FECHASAP | date:'dd/MM/yyyy'}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
















                    </div>
                  






 

</div>