﻿<md-dialog aria-label="Mango (Fruit)" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Mango (Fruit)</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>Using .md-dialog-content class that sets the padding as the spec</h2>
                <p>
                    <div layout="row">
                        <sm-date-time-picker fname="field"
                                             lable="Date of Birth"
                                             form="empForm"
                                             ng-model="vm.employee.dateOfBirth"
                                             flex="50"
                                             flex-sm="100"
                                             flex-xs="100"
                                             is-required="{{true}}"
                                             format="MM-DD-YYYY HH:mm"
                                             mode="date-time"
                                             week-start-day="Monday">
                        </sm-date-time-picker>
                    </div>
                </p>

                <img style="margin: auto; max-width: 100%;" alt="Lush mango tree" src="img/mangues.jpg">
                <p>
                    It originated in Indian subcontinent (present day India and Pakistan) and Burma. It is the national fruit of India, Pakistan, and the Philippines, and the national tree of Bangladesh. In several cultures, its fruit and leaves are ritually used as floral decorations at weddings, public celebrations, and religious ceremonies.
                </p>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
                More on Wikipedia
            </md-button>
            <span flex></span>
            <md-button ng-click="answer('not useful')">
                Not Useful
            </md-button>
            <md-button ng-click="answer('useful')" style="margin-right:20px;">
                Useful
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>