﻿
<style>
    @media(min-width: 692px) {

        #modalpassword {
            width: 550px;
        }
    }

    @media(min-width: 500px) {

        #modalpassword {
            width: 400px;
        }
    }
</style>


<div id="modalpassword" class="loginBox md-whiteframe-z1" layout="column">
    <div class="md-toolbar-tools" style="background-color:rgb(58, 59, 62);color:white">
        <h2>Cambiar Unidad Organizativa</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ou.cancel()">
            <md-icon md-svg-src="app/images/acciones/cerrar.svg" aria-label="Close dialog"></md-icon>
        </md-button>
    </div>
    <md-content class="md-padding" layout="column">
        <form name="formou" novalidate>

            <div flex>
                <md-input-container style="width:100%;" layout-align="center center">
                    <label>OU Actual</label>
                    <md-input-container style="width:100%">
                        <md-select ng-model="ou.form.unidad_actual" name="ouactual" required  style="width:100%" ng-attr-disabled="true">
                            <md-option ng-repeat="unidad in ou.unidades" ng-value="unidad">{{unidad.uO_NOMBRE}}</md-option>
                        </md-select>
                    </md-input-container>
                    <div ng-messages="formou.ouactual.$error">
                        <div ng-message="required">No existe tal ou en la Base de datos</div>
                    </div>
                </md-input-container>
            </div>
            <div flex>
                <md-input-container style="width:100%;" layout-align="center center">
                    <label>OU Nueva</label>
                    <md-input-container style="width:100%">
                        <md-select ng-model="ou.form.unidad_nueva" name="ounueva" required style="width:100%">
                            <md-option ng-repeat="unidad in ou.unidades" ng-value="unidad">{{unidad.uO_NOMBRE}}</md-option>
                        </md-select>
                    </md-input-container>
                    <div ng-messages="formou.ounueva.$error">
                        <div ng-message="required">Este Campo es Requerido</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row" layout-align="center center" style="padding-top:20px;width:100%">
                <md-button class="md-primary md-raised edgePadding" style="width:100%" ng-click="formou.$valid && ou.changeou($event)" ng-disabled="!formou.$valid">Cambiar</md-button>
            </div>
        </form>
    </md-content>
</div>