﻿
<style>

@media(min-width: 692px){

    #modalpassword{

        width:550px;

    }


}

@media(min-width: 500px){

    #modalpassword{

        width:400px;

    }


}



</style>


<div id="modalpassword" class="loginBox md-whiteframe-z1" layout="column">
    <div class="md-toolbar-tools" style="background-color:rgb(58, 59, 62);color:white">
        <h2>Cambiar Contraseña</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="app/images/acciones/cerrar.svg" aria-label="Close dialog"></md-icon>
        </md-button>
    </div>
    <md-content class="md-padding" layout="column">
        <form name="formpassword" novalidate>
           
            <div flex>
                <!--<md-input-container style="width:100%;" layout-align="center center">
                    <label>Password</label>
                    <input type="password" name="password1" ng-model="password1" required />
                    <div ng-messages="formpassword.password1.$error">
                        <div ng-message="required">Este Campo es Requerido</div>

                    </div>
                </md-input-container>-->

                <md-input-container style="width:100%;" layout-align="center center">
                    <label>Password</label>
                    <input type="password"
                           name="password1"
                           ng-model="password1"
                           min-strength="2"
                           ng-minlength="8"
                           autocomplete="off"
                           aria-required="false"
                           aria-invalid="true"
                           required />
                    <div ng-messages="formpassword.password1.$error">
                        <div ng-message="required">Este Campo es Requerido</div>
                        <div ng-message="minlength">La Contraseña es muy Corta</div>
                        <div ng-message="minStrength">
                            La contraseña no es muy segura ,debe contener almenos una mayuscula, un número y un caracter.

                        </div>
                    </div>



                </md-input-container>

            </div>
            <div flex>
                <md-input-container style="width:100%;" layout-align="center center">
                    <label>Password Validation</label>
                    <input type="password"  name="password2" ng-model="password2"
                           required compare-to="password1" />
                    <div ng-messages="formpassword.password2.$error">
                        <div ng-message="required">Este Campo es Requerido</div>
                        <div ng-message="compareTo">Contraseñas deben coincidir</div>
                    </div>
                </md-input-container>
            </div>

            <div flex>

                <label>El usuario debe cambiar la contraseña en el próximo inicio de sesión</label>
                <md-checkbox ng-model="ul_changepasswordatlogon" ng-click="checkchangepassword(ul_changepasswordatlogon)"
                             aria-label="Never Expires">

                </md-checkbox>

            </div>

                <div layout="row" layout-align="center center" style="padding-top:20px;width:100%">
                    <md-button class="md-primary md-raised edgePadding" style="width:100%"  ng-click="formpassword.$valid && change($event)" ng-disabled="!formpassword.$valid">Cambiar</md-button>
                </div>
</form>
    </md-content>
</div>