﻿

<style>
    @media(min-width: 692px) {

        #dialogshow {
            width: 700px;
        }
    }

    #well1 {
        height: 15%; /*fall back for IE8, Safari 5.1, Opera Mini and pre-4.4 Android browsers*/
        height: calc(15% - 20px);
        overflow: hidden; /*better to decide how you want to handle this than to let the browser decide*/
    }

    #well2 {
        height: 250px;
        margin-bottom: 0;
        overflow: auto;
    }

    .input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child) {
        border-left: 1px solid #dadada;
    }

    .well {
        padding: 0px !important;
    }
</style>

<md-dialog id="dialogshow">

    <md-toolbar>
        <div class="md-toolbar-tools" style="background-color:rgb(58, 59, 62);">
            <h2>Crear Usuario</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="$user.cancel()">
                <md-icon md-svg-src="app/images/acciones/cerrar.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content flex="100">
        <md-tabs md-dynamic-height md-border-bottom md-selected="$user.tab">
            <md-tab label="Usuario" ng-disabled="$user.edit">
                <!---->
                <form name="userForm" novalidate>
                    <md-content layout-padding>

                        <div layout="row">
                            <md-input-container style="width: 100%;text-align: center;">
                                <md-select ng-model="form.empresa" required name="user_empresa" flex aria-label="Selecione Empresa" placeholder="Seleccione Empresa">
                                    <!--md-selected-text="$user.select_empresa()"-->
                                    <md-option ng-repeat="empresa in $user.empresas" ng-value="empresa">{{empresa.eM_NOMBRE}}</md-option>
                                </md-select>
                                <div ng-messages="userForm.user_empresa.$error">
                                    <div ng-message="required">Se requiere la empresa</div>
                                </div>
                            </md-input-container>
                        </div>

                        <div layout="row">
                            <md-input-container flex="50">
                                <label>Nombres</label>
                                <input required name="givenname" ng-model="$user.user.givenname">
                                <div ng-messages="userForm.givenname.$error">
                                    <div ng-message="required">Este Campo es Requerido</div>
                                </div>

                            </md-input-container>

                            <md-input-container flex="50">
                                <label>Apellidos</label>
                                <input required name="surname" ng-model="$user.user.surname">
                                <div ng-messages="userForm.surname.$error">
                                    <div ng-message="required">Este Campo es Requerido</div>
                                </div>

                            </md-input-container>

                        </div>


                        <div layout="row">
                            <md-input-container flex="100">
                                <label>SamName</label>
                                <input md-maxlength="50" required name="samname" ng-model="form.samaname">
                                <div ng-messages="userForm.samname.$error">
                                    <div ng-message="required">Este Campo es Requerido</div>
                                    <div ng-message="md-maxlength">El samaname es muy largo al permitido</div>
                                </div>


                            </md-input-container>

                        </div>

                        <div layout="row">

                            <div flex="50">

                                <md-input-container style="width:100%;" layout-align="center center">
                                    <label>Password</label>
                                    <input type="password" 
                                           name="password1" 
                                           ng-model="$user.user.password"
                                           min-strength="4"
                                           ng-minlength="6"
                                           autocomplete="off"
                                           aria-required="false"
                                           aria-invalid="true"
                                           required />
                                    <div ng-messages="userForm.password1.$error">
                                        <div ng-message="required">Este Campo es Requerido</div>
                                        <div ng-message="minlength">La Contraseña es muy Corta</div>
                                    </div>
                                  
                                </md-input-container>


                            </div>

                            <div flex="50">


                                <md-input-container style="width:100%;" layout-align="center center">
                                    <label>Password Validation</label>
                                    <input type="password" name="password2" ng-model="password2"
                                           required compare-to="$user.user.password" />
                                    <div ng-messages="userForm.password2.$error">
                                        <div ng-message="required">Este Campo es Requerido</div>
                                        <div ng-message="compareTo">Contraseñas deben coincidir</div>
                                    </div>
                                </md-input-container>


                            </div>



                        </div>

                        <div layout="row">


                            <md-input-container flex style="width: 100%;text-align: center;">
                                <md-select ng-model="$user.form.unidadorganizativa" required name="user_unidad" placeholder="Seleccione Unidad Organizativa">
                                    <md-option ng-repeat="unidad in $user.unidades" ng-value="unidad">{{unidad.uO_NOMBRE}}</md-option>
                                </md-select>
                                <div ng-messages="userForm.user_unidad.$error">
                                    <div ng-message="required">Se requiere la unidad organizativa</div>
                                </div>
                            </md-input-container>



                        </div>






                        <div layout="row">
                            <div flex="50">
                                <sm-date-time-picker ng-model="$user.user.AccountExpirationDate"
                                                     fname="field"
                                                     label="Fecha de Expiracion"
                                                     flex="50"
                                                     flex-sm="100"
                                                     flex-xs="100"
                                                     format="YYYY/MM/DD HH:mm"
                                                     mode="date-time"
                                                     week-start-day="Monday"
                                                     on-date-selected-call="$user.selectdate(date)">

                                </sm-date-time-picker>

                            </div>
                            <div flex="50" style="padding-left: 50px;padding-top: 4px;">

                                <label>Never Expires</label>
                                <md-checkbox ng-model="$user.expire" ng-click="$user.expiration(expire)" aria-label="Never Expires">

                                </md-checkbox>

                            </div>

                        </div>

                        <div layout="row">

                            <md-input-container flex="50">
                                <label>Compañia</label>
                                <input name="company" ng-model="$user.user.company">

                            </md-input-container>

                            <md-input-container flex="50">
                                <label>Departamento</label>
                                <input name="department" ng-model="$user.user.department">

                            </md-input-container>

                        </div>




                        <div layout="row">

                            <md-input-container flex="50">
                                <label>Oficina</label>
                                <input name="oficina" ng-model="$user.user.office">

                            </md-input-container>

                            <md-input-container flex="50">
                                <label>Mobile Phone</label>
                                <input name="mobilephone" ng-model="$user.user.mobilephone">

                            </md-input-container>

                        </div>
                        <div layout="row">

                            <md-input-container flex="50">
                                <label>Titulo</label>
                                <input name="title" ng-model="$user.user.title">
                            </md-input-container>

                            <md-input-container flex="50">
                                <label>Home Phone</label>
                                <input name="mobilephone" ng-model="$user.user.homephone">

                            </md-input-container>

                        </div>
                        <div layout="row">

                            <md-input-container flex="50">
                                <label>Office Phone</label>
                                <input name="officephone" ng-model="$user.user.Officephone">
                            </md-input-container>

                             

                        </div>
                        <div layout="row">
                              <content-item ng-repeat="item in $user.attrs" content="item"></content-item>
                         </div>
                    </md-content>
                </form>

            </md-tab>
            <!--ng-disabled="!$user.edit"-->
            <md-tab label="Permisos" ng-disabled="!$user.edit">


                <form name="persmisionForm" novalidate>
                    <md-content layout-padding>
                        <div class="row">
                            <br />
                            <br />
                            <div class="col-md-12">
                                <legend>FileSystem</legend>


                                <div class="col-md-6">

                                    <div class="input-group">

                                        <ui-select theme="bootstrap" ng-model="$user.form.filesystem" name="filesystem" style="width:100%">
                                            <ui-select-match placeholder="Seleccione">{{$select.selected.g_NOMBRE}}</ui-select-match>

                                            <ui-select-choices repeat="grupo in $user.gfilesystem | filter: $select.search">
                                                <div ng-bind-html="grupo.g_NOMBRE | highlight: $select.search"></div>
                                            </ui-select-choices>


                                        </ui-select>
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="$user.addgroud()" class="btn btn-primary btn-fill">
                                                <span class="pe-7s-right-arrow"></span>
                                            </button>
                                        </span>
                                    </div>

                                </div>

                                <div class="col-md-6">
                                    <div class="well" id="well2">
                                        <div class="list-group">
                                            <a class="list-group-item" ng-repeat="group in $user.groupsf">
                                                {{group.g_NOMBRE}}
                                                <span class="pull-right">
                                                    <span class="btn btn-xs btn-danger btn-fill" ng-click="$user.deletegroup($index)">
                                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                    </span>
                                                </span>

                                            </a>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>


                        <div class="row">

                            <br />
                            <br />
                            <div class="col-md-12">
                                <legend>Internet</legend>


                                <div class="col-md-6">

                                    <div class="input-group">

                                        <ui-select theme="bootstrap" ng-model="$user.form.internet" name="intenet">
                                            <ui-select-match placeholder="Seleccione">{{$select.selected.g_NOMBRE}}</ui-select-match>

                                            <ui-select-choices repeat="grupo in $user.ginternet | filter: $select.search">
                                                <div ng-bind-html="grupo.g_NOMBRE | highlight: $select.search"></div>
                                            </ui-select-choices>


                                        </ui-select>
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="$user.addgroudinternet()" class="btn btn-primary btn-fill">
                                                <span class="pe-7s-right-arrow"></span>
                                            </button>
                                        </span>
                                    </div>

                                </div>

                                <div class="col-md-6">
                                    <div class="well" id="well3" style="height: 40px;">
                                        <div class="list-group">
                                            <a class="list-group-item" ng-repeat="group in $user.groupsi">
                                                {{group.g_NOMBRE}}
                                                <span class="pull-right">
                                                    <span class="btn btn-xs btn-danger btn-fill" ng-click="$user.deletegroupi($index)">
                                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                    </span>
                                                </span>

                                            </a>
                                        </div>
                                    </div>

                                </div>

                            </div>


                        </div>


                        <div class="row">

                            <br />
                            <br />
                            <div class="col-md-12">
                                <legend>Citrix</legend>


                                <div class="col-md-6">

                                    <div class="input-group">

                                        <ui-select theme="bootstrap" ng-model="$user.form.citrix" name="citrix">
                                            <ui-select-match placeholder="Seleccione">{{$select.selected.g_NOMBRE}}</ui-select-match>

                                            <ui-select-choices repeat="grupo in $user.gcitrix | filter: $select.search">
                                                <div ng-bind-html="grupo.g_NOMBRE | highlight: $select.search"></div>
                                            </ui-select-choices>


                                        </ui-select>
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="$user.addgroudctrix()" class="btn btn-primary btn-fill">
                                                <span class="pe-7s-right-arrow"></span>
                                            </button>
                                        </span>
                                    </div>

                                </div>

                                <div class="col-md-6">
                                    <div class="well" id="well4" style="height: 40px;">
                                        <div class="list-group">
                                            <a class="list-group-item" ng-repeat="group in $user.groupsc">
                                                {{group.g_NOMBRE}}
                                                <span class="pull-right">
                                                    <span class="btn btn-xs btn-danger btn-fill" ng-click="$user.deletegroupc($index)">
                                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                    </span>
                                                </span>

                                            </a>
                                        </div>
                                    </div>

                                </div>

                            </div>


                        </div>
                        <md-content>
                </form>

            </md-tab>
        </md-tabs>
    </md-dialog-content>


    <md-dialog-actions>

        <div layout="row" flex="100%">

            <md-button class="md-primary md-raised" style="width:100%;" ng-click="userForm.$valid && $user.crearusuario()" ng-show="$user.tab===0" ng-disabled="!userForm.$valid">
                Siguiente
            </md-button>

            <md-button class="md-primary md-raised" style="width:100%;" ng-click="$user.addpermision()" ng-show="$user.tab===1">
                Finalizar
            </md-button>



        </div>

    </md-dialog-actions>

    <div ng-messages="projectForm.$error" style="color:red;">
        <div ng-message="required">Faltan Campos Requeridos</div>
    </div>



</md-dialog>