﻿<style>
    @media(min-width: 692px) {

        #dialogshow {
            width: 700px;
        }
    }

    #well1 {
        height: 15%; /*fall back for IE8, Safari 5.1, Opera Mini and pre-4.4 Android browsers*/
        height: calc(15% - 20px);
        overflow: hidden; /*better to decide how you want to handle this than to let the browser decide*/
    }

    #well2 {
        height: 250px;
        margin-bottom: 0;
        overflow: auto;
    }

    .input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child) {
        border-left: 1px solid #dadada;
    }

    .well {
        padding: 0px !important;
    }
</style>




<md-dialog id="dialogshow" ng-cloak>

    <md-toolbar>
        <div class="md-toolbar-tools" style="background-color:rgb(58, 59, 62);">
            <h2>Permisos</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="$per.cancel()">
                <md-icon md-svg-src="app/images/acciones/cerrar.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content flex="100">
        <form name="persmisionForm" novalidate>
            <md-content layout-padding>
                <!--<div class="row">
                    <br />
                    <br />
                    <div class="col-md-12">
                        <legend>FileSystem</legend>


                        <div class="col-md-6">

                            <div class="input-group">

                                <ui-select theme="bootstrap" ng-model="$per.form.filesystem" name="filesystem" style="width: 250px;">
                                    <ui-select-match placeholder="Seleccione">{{$select.selected.g_NOMBRE}}</ui-select-match>

                                    <ui-select-choices repeat="grupo in $per.gfilesystem | filter: $select.search">
                                        <div ng-bind-html="grupo.g_NOMBRE | highlight: $select.search"></div>
                                    </ui-select-choices>


                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="$per.addgroud($per.form.filesystem)" class="btn btn-primary btn-fill">
                                        <span class="pe-7s-right-arrow"></span>
                                    </button>
                                </span>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="well" id="well2">
                                <div class="list-group">
                                    <div class="list-group-item" ng-repeat="group in groupsf" layout="row" flex>
                                        <md-input-container style="width:200px">
                                            <input required name="surname" value="{{group.g_NOMBRE}}" ng-disabled="true">
                                        </md-input-container>
                                        <div>
                                            <md-button class="md-icon-button" ng-click="$per.deletegroup(group)">
                                                <md-icon class="material-icons">clear</md-icon>
                                            </md-button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>


                <div class="row">

                    <br />
                    <br />
                    <div class="col-md-12">
                        <legend>Internet</legend>


                        <div class="col-md-6">

                            <div class="input-group">

                                <ui-select theme="bootstrap" ng-model="$per.form.internet" name="intenet" style="width: 250px;">
                                    <ui-select-match placeholder="Seleccione">{{$select.selected.g_NOMBRE}}</ui-select-match>

                                    <ui-select-choices repeat="grupo in $per.ginternet | filter: $select.search">
                                        <div ng-bind-html="grupo.g_NOMBRE | highlight: $select.search"></div>
                                    </ui-select-choices>


                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="$per.addgroud($per.form.internet)" class="btn btn-primary btn-fill" ng-disabled="groupsi.length>0">
                                        <span class="pe-7s-right-arrow"></span>
                                    </button>
                                </span>
                            </div>

                        </div>



                        <div class="col-md-6">
                            <div class="well" id="well3" style="height: 40px;">
                                <div class="list-group">
                                    <div class="list-group-item" ng-repeat="group in groupsi" layout="row" flex>
                                        <md-input-container style="width:200px">
                                            <input required name="surname" value="{{group.g_NOMBRE}}" ng-disabled="true">
                                        </md-input-container>
                                        <div>
                                            <md-button class="md-icon-button" ng-click="$per.deletegroup(group)">
                                                <md-icon class="material-icons">clear</md-icon>
                                            </md-button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>


                </div>


                <div class="row">

                    <br />
                    <br />
                    <div class="col-md-12">
                        <legend>Citrix</legend>


                        <div class="col-md-6">

                            <div class="input-group">

                                <ui-select theme="bootstrap" ng-model="$per.form.citrix" name="citrix" style="width: 250px;">
                                    <ui-select-match placeholder="Seleccione">{{$select.selected.g_NOMBRE}}</ui-select-match>

                                    <ui-select-choices repeat="grupo in $per.gcitrix | filter: $select.search">
                                        <div ng-bind-html="grupo.g_NOMBRE | highlight: $select.search"></div>
                                    </ui-select-choices>


                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="$per.addgroud($per.form.citrix)" class="btn btn-primary btn-fill">
                                        <span class="pe-7s-right-arrow"></span>
                                    </button>
                                </span>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="well" id="well2">
                                <div class="list-group">
                                    <div class="list-group-item" ng-repeat="group in groupsc" layout="row" flex>
                                        <md-input-container style="width:200px">
                                            <input required name="surname" value="{{group.g_NOMBRE}}" ng-disabled="true">
                                        </md-input-container>
                                        <div>
                                            <md-button class="md-icon-button" ng-click="$per.deletegroup(group)">
                                                <md-icon class="material-icons">clear</md-icon>
                                            </md-button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>


                </div>-->


                <content-group  ng-repeat="item in arrayfinal1"  style="width:100%;" content="item" memberof="$per.memberof"></content-group>

                <md-content>
        </form>

    </md-dialog-content>

    <md-dialog-actions>

        <div layout="row" flex="100%">
            <md-button class="md-primary md-raised" style="width:100%;" ng-click="$per.addpermision()">
                Finalizar
            </md-button>
        </div>
    </md-dialog-actions>

</md-dialog>