﻿

<style>

 @media(min-width: 692px) {

        #dialogshow {
            width: 900px;
        }
    }

  

</style>

<md-dialog id="dialogshow">

        <md-toolbar>
            <div class="md-toolbar-tools" style="background-color:rgb(58, 59, 62);">
                <h2>{{user.Name}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="app/images/acciones/cerrar.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content flex="100">
            <md-tabs md-dynamic-height md-border-bottom >
                <md-tab label="Informacion">
                    <form name="projectForm" novalidate>
                        <md-content layout-padding>

                                            <md-input-container class="md-block">
                                                <label>Display Name</label>
                                                <input ng-model="user.DisplayName" ng-disabled="true">

                                            </md-input-container>

                                            <md-input-container class="md-block">
                                                <label>OU Path</label>
                                                <input ng-model="user.DistinguishedName" ng-disabled="true">

                                            </md-input-container>




                                            <div layout="row">
                                                <md-input-container flex="50">
                                                    <label>Nombres</label>
                                                    <input required name="givenname" ng-model="user.givenname" ng-disabled="!edit">
                                                    <div ng-messages="projectForm.givenname.$error">
                                                        <div ng-message="required">Este Campo es Requerido</div>
                                                        </div>

                                                    </md-input-container>

                                                <md-input-container flex="50">
                                                    <label>Apellidos</label>
                                                    <input required name="surname" ng-model="user.surname" ng-disabled="!edit">
                                                    <div ng-messages="projectForm.surname.$error">
                                                        <div ng-message="required">Este Campo es Requerido</div>
                                                    </div>

                                                </md-input-container>
                                  
                                            </div>

                                            <div layout="row">
                                                <div flex="50">
                                                    <sm-date-time-picker ng-model="user.AccountExpirationDate"
                                                                         disable="!edit"
                                                                         fname="field"
                                                                         label="Fecha de Expiracion"
                                                                         flex="50"
                                                                         flex-sm="100"
                                                                         flex-xs="100"                                                     
                                                                         format="YYYY/MM/DD HH:mm"
                                                                         mode="date-time"
                                                                         week-start-day="Monday"
                                                                         on-date-selected-call="selectdate(date)" >
                                       
                                                    </sm-date-time-picker>

                                                </div>
                                                <div flex="50" style="padding-left: 50px;padding-top: 4px;">
                                  
                                                        <label>Never Expires</label>
                                                        <md-checkbox ng-model="expire" aria-label="Checkbox 1" ng-disabled="!edit" ng-click="expiration(expire)">    
                                                                                
                                                        </md-checkbox>
                                       
                                                </div>

                                            </div>

                                            <div layout="row">

                                                <md-input-container flex="50">
                                                    <label>Compañia</label>
                                                    <input  name="company" ng-model="user.company" ng-disabled="!edit">
                                   
                                                </md-input-container>

                                                <md-input-container flex="50">
                                                    <label>Departamento</label>
                                                    <input  name="department" ng-model="user.department" ng-disabled="!edit">
                                   
                                                </md-input-container>

                                            </div>

                                            <div layout="column">
                                                <md-input-container flex="100">
                                                    <label>SamName</label>
                                                    <input md-maxlength="50" required name="samname" ng-model="user.SamAccountName" ng-disabled="!edit">
                                                    <div ng-messages="projectForm.samname.$error">
                                                        <div ng-message="required">Este Campo es Requerido</div>
                                                        <div ng-message="md-maxlength">El samaname es muy largo al permitido</div>
                                                    </div>

                                    
                                                </md-input-container>

                                            </div>


                                            <div layout="row">

                                                <md-input-container flex="50">
                                                    <label>Oficina</label>
                                                    <input  name="oficina" ng-model="user.office" ng-disabled="!edit">
                                 
                                                </md-input-container>

                                                <md-input-container flex="50">
                                                    <label>Mobile Phone</label>
                                                    <input  name="mobilephone" ng-model="user.mobilephone" ng-disabled="!edit">
                                  
                                                </md-input-container>

                                            </div>
                                            <div layout="row">

                                                <md-input-container flex="50">
                                                    <label>Titulo</label>
                                                    <input  name="title" ng-model="user.title" ng-disabled="!edit">       
                                                </md-input-container>

                                                <md-input-container flex="50">
                                                    <label>Home Phone</label>
                                                    <input  name="mobilephone" ng-model="user.homephone" ng-disabled="!edit">
                                  
                                                </md-input-container>

                                            </div>
                                            <div layout="row">

                                                <md-input-container flex="50">
                                                    <label>Office Phone</label>
                                                    <input name="officephone" ng-model="user.Officephone" ng-disabled="!edit">                                  
                                                </md-input-container>

                              

                                            </div>

                                            <div layout="row" ng-repeat="item in showattrs">
                                                <content-item  style="width:100%;" content="item"  ng-disabled="!edit"></content-item>
                                            </div>
                             </md-content>
                    </form>

               </md-tab>
           </md-tabs>
        </md-dialog-content>


    <md-dialog-actions>

           <div layout="row" flex="100%">

                    <md-button class="md-primary md-raised"  ng-click="editar()" ng-disabled="edit" flex="100%">
                        Editar
                    </md-button>

                    <md-button class="md-primary md-raised"  ng-click="cancelar()" ng-disabled="!edit" flex="100%">
                        Cancelar
                    </md-button>

                    <md-button class="md-primary md-raised"  ng-click="projectForm.$valid && modificar()"  ng-disabled="!projectForm.$valid || !edit" flex="100%"> 
                        Guardar
                    </md-button>
            
            </div>

</md-dialog-actions>

    <div ng-messages="projectForm.$error" style="color:red;">
        <div ng-message="required">Faltan Campos Requeridos</div>
    </div>

    

</md-dialog>