﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />

    <style type="text/css">
        UL.col3
            {
                PADDING-RIGHT: 0px;
                PADDING-LEFT: 0px;
                FLOAT: left;
                PADDING-BOTTOM: 0px;
                MARGIN: 15px 0px;
                WIDTH: 100%;
                PADDING-TOP: 0px;
                list-style-type:none;
            }

            UL.col3 LI
            {
                PADDING-RIGHT: 2px;
                DISPLAY: inline;
                PADDING-LEFT: 5px;
                FLOAT: left;
                PADDING-BOTTOM: 2px;
                WIDTH: 32%; /*(50% = 2 columnas, 32%=3 columnas 25% = 4 columnas, etc.)*/
                PADDING-TOP: 2px
            }
    </style>
</head>

<body oncontextmenu="return false" onkeydown="return false">
 
    <div class="row" id="theArt">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <label for="">Empresa :</label>
                    <ui-select theme="bootstrap" ng-model="form.selectedEmpresa1" on-select="cargarDash(form.selectedEmpresa1)" style="width: 100%;" ng-disabled="EmpresaChange">
                        <ui-select-match allow-clear="true" placeholder="Empresa">{{$select.selected.eM_NOMBRE}}</ui-select-match>
                        <ui-select-choices repeat="empresa in empresas | filter: $select.search">
                            <div ng-bind-html="empresa.eM_NOMBRE | highlight: $select.search"></div>
                            <!-- <small ng-bind-html="item.client_id | highlight: $select.search"></small> -->
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-md-3">
                    <label for="">Servicios :</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="col3" style="margin-left:20px;">
                        <li  ng-repeat="dat in dash" ng-click="openlink2(dat.sE_ID,dat.sE_NOMBRE)" >&#149 &nbsp; {{dat.sE_NOMBRE}}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="">Atención :</label>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li>Requerimientos</li>
                        <li>Incidentes</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div id="panelDetalle" style="display:none;" class="card">
        <div class="header">
            <button type="button" class="btn btn-info btn-xs btn-fill" ng-click="openlink3();"><span class="glyphicon glyphicon-arrow-left"></span> Regresar</button>
            {{nombreServicio}}
        </div>
        <div class="content">
            <ul role="tablist" class="nav nav-tabs">
                <li ng-class="{active:isSelected(dat.orden)}" ng-repeat="dat in link4">
                    <a ng-click="selectTab(dat.orden,dat.link)"><i class="fa fa-server"></i> {{dat.descripcion}}</a>
                </li>
            </ul>
            <div class="card">
                <div class="tab-content" ng-init="tab=1">
                    <div ng-show="tab==dat.orden" class="container-fluid" ng-repeat="dat in links">
                        <div class="row">
                            <div class="map-container" ng-if="dat.flag==0">
                                <iframe ng-src={{trustSrc(dat.link)}} height="700" width="650"></iframe>
                            </div>

                            <div id="panelAtendidos" ng-if="dat.link==1" class="card" ng-controller="reporte10">
                                <div class="header">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="panel-heading">SAP - TIEMPO RESPUESTA PROMEDIO DE DIALOG STOP</div>
                                            <!--- Aqui Va la opcion escogida  -->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="btn-group">
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <ui-select theme="bootstrap" ng-model="form.selectedEmpresa10" style="width: 100%;" ng-disabled="EmpresaChange">
                                                        <ui-select-match allow-clear="true" placeholder="Empresa">{{$select.selected.eM_NOMBRE}}</ui-select-match>
                                                        <ui-select-choices repeat="empresa in empresas | filter: $select.search">
                                                            <div ng-bind-html="empresa.eM_NOMBRE | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                                <div class="col-md-4">
                                                    <ui-select theme="bootstrap" ng-model="form.years" style="width: 100%;">
                                                        <ui-select-match allow-clear="true" placeholder="año">{{$select.selected}}</ui-select-match>
                                                        <ui-select-choices repeat="year in years | filter: $select.search">
                                                            <div ng-bind-html="year | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                                <div class="col-md-4">
                                                    <button class="btn btn-success btn-fill" ng-click="getchart(2,form.selectedEmpresa10.eM_ID,dash10,form.years)">Buscar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="col-md-12">
                                        <hr />
                                    </div>
                                </div>
                                <div ng-show="nodata0010"> No hay Información</div>
                                <div class="content" ng-hide="nodata0010">
                                    <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" chart-options="options" chart-series="series" chart-colors="colors" chart-click="onClick"></canvas>
                                </div>
                                <div class="footer" ng-hide="nodata0010">
                                    <table class="table table-hover table-bordered" align="center">
                                        <thead>
                                            <tr>
                                                <th ng-repeat="label in fullkeys10">{{label}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="(key, val) in ff10 ">
                                                <td ng-repeat="var in ff10[$index] track by $index">{{var}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="panelHorasSAP" ng-if="dat.link==2" class="card" ng-controller="Reporte11">
                                <div class="header">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="panel-heading">SAP - NUMERO DE USUARIOS CONCURRENTES</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="btn-group">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <ui-select theme="bootstrap" ng-model="form.selectedEmpresa11" ng-disabled="EmpresaChange" style="width: 100%;">
                                                            <ui-select-match allow-clear="true" placeholder="Empresa">{{$select.selected.eM_NOMBRE}}</ui-select-match>
                                                            <ui-select-choices repeat="empresa in empresas | filter: $select.search">
                                                                <div ng-bind-html="empresa.eM_NOMBRE | highlight: $select.search"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" datetimepicker
                                                                       ng-model="form.expirationdate" options="options" name="expirationdate" required />
                                                                <span class="input-group-addon">
                                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <button class="btn btn-success btn-fill" ng-click="getchart(2,form.selectedEmpresa11.eM_ID,dash11,form.expirationdate)">Buscar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="nodata0011"> No hay Información</div>
                                    <div class="content" ng-hide="nodata0011">
                                        <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" chart-options="options" chart-series="series" chart-colors="colors" chart-click="onClick"></canvas>
                                    </div>
                                    <div class="footer" ng-hide="nodata0011">
                                        <table class="table table-hover table-bordered" align="center">
                                            <thead>
                                                <tr>
                                                    <th ng-repeat="label in fullkeys11">{{label}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="(key, val) in ff11 ">
                                                    <td ng-repeat="var in ff11[$index] track by $index">{{var}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div id="panelCapacidades" ng-if="dat.flag==3" class="card">
                                <div class="map-container">
                                    <iframe ng-src="{{trustSrc(dat.link)}}" height="400"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <span style="color: black; font-weight:bold; font-size:larger;">Tickets de {{nombreServicio}} del Mes</span>
            <table class="table table-hover" style="table-layout:fixed" border="1">
                <thead>
                    <tr>
                        <th colspan="3" align="center" style="background-color:#2ED095; color: black; font-weight:bold; font-size:larger;">Requerimientos</th>
                        <th colspan="3" align="center" style="color: black; font-weight:bold; font-size:larger">Incidentes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Solicitados</td>
                        <th>{{REatendidosNro+REpendientesNro}}</th>
                        <td></td>
                        <td>Reportados</td>
                        <th>{{INatendidosNro+INpendientesNro}}</th>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Atendidos</td>
                        <th>{{REatendidosNro}}</th>
                        <td>
                            <button type="button" class="btn btn-warning btn-xs btn-fill" ng-click="cargarAtendido(1)"><span class="glyphicon glyphicon-search"></span></button>
                        </td>
                        <td>Atendidos</td>
                        <th>{{INatendidosNro}}</th>
                        <td>
                            <button type="button" class="btn btn-warning btn-xs btn-fill" ng-click="cargarAtendido(0)"><span class="glyphicon glyphicon-search"></span></button>
                        </td>
                    </tr>
                    <tr>
                        <td>Pendientes</td>
                        <th>{{REpendientesNro}}</th>
                        <td>
                            <button type="button" class="btn btn-warning btn-xs btn-fill" ng-click="cargarPendiente(1)"><span class="glyphicon glyphicon-search"></span></button>
                        </td>
                        <td>Pendientes</td>
                        <th>{{INpendientesNro}}</th>
                        <td>
                            <button type="button" class="btn btn-warning btn-xs btn-fill" ng-click="cargarPendiente(0)"><span class="glyphicon glyphicon-search"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>



</body>
</html>
