<style>
    .ng-table-counts {
    }

    .ng-table-pager {
        float: right !important;
    }

    .task-desc a {
        font-weight: 600;
        display: inline-block;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    a:visited {
        color: #F37F69;
        text-decoration: none;
    }

    .task-desc span {
        display: block;
        color: #999;
        font-size: 11px;
        margin-top: -2px;
    }

    .modal-dialog.modal-lg {
        width: 98% !important;
    }

    .ui-select-container.ui-select-multiple.ui-select-bootstrap.dropdown.form-control.ng-valid {
        height: 38px !important;
    }

    .especial {
        font-size: 22px;
        font: bold;
        font-family: "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }

    .datatable-scroll {
        overflow-x: scroll;
    }

    table tbody tr td {
        border-right: none !important;
    }
    #tabla2 a{
    color: white;
}

</style>
<script type='text/javascript'>
function highlight(field) {
    field.focus();
    field.select();
}
</script>
<script type='text/javascript'>
$('#help').tooltip();
</script>
<div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-hidden="true">×</button>
    <h4 class="modal-title">BÚSQUEDA DE TICKETS</h4>
</div>
<div class="modal-body" width="100%">
    <div class="container-fluid">
        <div class="row">
         <h4  class="pull-right" style="color: #969696;position: absolute;z-index:2">{{count}} Tickets</h4>
            <div class='datatable-task'>
                <form name="formbusqueda" class="form-inline pull-right" novalidate>




                    <span ng-show="filtrosticket.selected.length==0" class="label label-default" style="position: absolute;z-index:2">Filtros por tipo</span>
                    <div class="form-group">
                        <ui-select ng-disabled="isReadOnly" multiple ng-model="filtrosticket.selected" theme="bootstrap" style="width: 300px;" on-select="selectFilter($item, $model)" on-remove="deselectFilter($item, $model)">
                            <ui-select-match>{{$item.fI_NOMBRE}}</ui-select-match>
                            <ui-select-choices repeat="filtro in filtrosticket  | filter:$select.search">
                                {{filtro.fI_NOMBRE}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group">
                        <span ng-show="searchidsoli.length==0 || searchidsoli==undefined" class="label label-info" style="position: absolute;z-index:2">BÚSQUEDA DE TICKETS</span>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="searchidsoli" onclick="highlight(this)" placeholder="Buscar" id="help" data-toggle="tooltip" title="Puedes buscar por número, resumen o descripción" data-placement="top" style="height:38px;" press-enter="getbyid(filtrosticket.selected,searchidsoli)" ng-change="limpiartabla(searchidsoli)">
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-fill" type="button" ng-click="getbyid(filtrosticket.selected,searchidsoli)"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="card">
                <div class='datatable-scroll'>
                    <table id="tabla2" class='table table-bordered dataTable' cellspacing='0' width='100%'>
                        <thead>
                            <tr style="background-color: #CACACA; height:55px;">
                                <th>
                                    <a style="cursor:pointer;" ng-click="sortType = 'numero'; sortReverse = !sortReverse ; ordenardata(sortType,sortReverse)">
                                        <b>Número</b>
                                        <span ng-show="sortType == 'numero' && !sortReverse" class="fa fa-sort-desc"></span>
                                        <span ng-show="sortType == 'numero' && sortReverse" class="fa fa-sort-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a style="cursor:pointer;" ng-click="sortType = 'tipo'; sortReverse = !sortReverse ; ordenardata(sortType,sortReverse)">
                                    <b>Tipo</b>
                                        <span ng-show="sortType == 'tipo' && !sortReverse" class="fa fa-sort-desc"></span>
                                        <span ng-show="sortType == 'tipo' && sortReverse" class="fa fa-sort-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a style="cursor:pointer;" ng-click="sortType = 'resumen'; sortReverse = !sortReverse ; ordenardata(sortType,sortReverse)">
                                        <b>Resumen</b>
                                        <span ng-show="sortType == 'resumen' && !sortReverse" class="fa fa-sort-desc"></span>
                                        <span ng-show="sortType == 'resumen' && sortReverse" class="fa fa-sort-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a style="cursor:pointer;" ng-click="sortType = 'descripcion'; sortReverse = !sortReverse">
                                        <b>Descripción</b>
                                        <span ng-show="sortType == 'descripcion' && !sortReverse" class="fa fa-sort-desc"></span>
                                        <span ng-show="sortType == 'descripcion' && sortReverse" class="fa fa-sort-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a style="cursor:pointer;" ng-click="sortType = 'fechaApertura'; sortReverse = !sortReverse ; ordenardata(sortType,sortReverse)">
                                        <b>Fecha Apertura</b>
                                        <span ng-show="sortType == 'fechaApertura' && !sortReverse" class="fa fa-sort-desc"></span>
                                        <span ng-show="sortType == 'fechaApertura' && sortReverse" class="fa fa-sort-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a style="cursor:pointer;" ng-click="sortType = 'fechaResolucion'; sortReverse = !sortReverse ; ordenardata(sortType,sortReverse)">
                                        <b>Fecha Resolución</b>
                                        <span ng-show="sortType == 'fechaResolucion' && !sortReverse" class="fa fa-sort-desc"></span>
                                        <span ng-show="sortType == 'fechaResolucion' && sortReverse" class="fa fa-sort-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a style="cursor:pointer;" ng-click="sortType = 'estado'; sortReverse = !sortReverse ; ordenardata(sortType,sortReverse)">
                                        <b>Estado</b>
                                        <span ng-show="sortType == 'estado' && !sortReverse" class="fa fa-sort-desc"></span>
                                        <span ng-show="sortType == 'estado' && sortReverse" class="fa fa-sort-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a style="cursor:pointer;" ng-click="sortType = 'prioridad'; sortReverse = !sortReverse ; ordenardata(sortType,sortReverse)">
                                        <b>Prioridad</b>
                                        <span ng-show="sortType == 'prioridad' && !sortReverse" class="fa fa-sort-desc"></span>
                                        <span ng-show="sortType == 'prioridad' && sortReverse" class="fa fa-sort-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a style="cursor:pointer;" ng-click="sortType = 'proyecto'; sortReverse = !sortReverse ; ordenardata(sortType,sortReverse)">
                                        <b>Proyecto</b>
                                        <span ng-show="sortType == 'proyecto' && !sortReverse" class="fa fa-sort-desc"></span>
                                        <span ng-show="sortType == 'proyecto' && sortReverse" class="fa fa-sort-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a style="cursor:pointer;" ng-click="sortType = 'servicio'; sortReverse = !sortReverse ; ordenardata(sortType,sortReverse)">
                                        <b>Servicio</b>
                                        <span ng-show="sortType == 'servicio' && !sortReverse" class="fa fa-sort-desc"></span>
                                        <span ng-show="sortType == 'servicio' && sortReverse" class="fa fa-sort-up"></span>
                                    </a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="searchidsoli!=='' && tickets.length==0">
                                <td colspan="10" style="text-align:center; color:red;">No existen tickets con el nombre ingresado</td>
                            </tr>
                            <tr dir-paginate="ticket in tickets|itemsPerPage:10" total-items="count" current-page="currentPage">
                                <td style="font-size: 12px"><a ng-click="openticket(ticket.numero)" style="text-decoration: underline;cursor:pointer;color:black;">{{ticket.numero}}</a></td>
                                <td style="font-size: 12px">{{ticket.tipo}}</td>
                                <td style="font-size: 12px">{{ticket.resumen}}</td>
                                <td style="font-size: 12px">{{ticket.descripcion}}</td>
                                <td style="font-size: 12px">{{ticket.fechaApertura | date:"dd/MM/y HH:mm:ss"}}</td>
                                <td style="font-size: 12px">{{ticket.fechaResolucion | date:"dd/MM/y HH:mm:ss"}}</td>
                                <td style="font-size: 12px">{{ticket.estado}}</td>
                                <td style="font-size: 12px">{{ticket.prioridad}}</td>
                                <td style="font-size: 12px">{{ticket.proyecto}}</td>
                                <td style="font-size: 12px">{{ticket.servicio}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ng-table-pager">
                    <dir-pagination-controls max-size="8" direction-links="true" boundary-links="true" on-page-change="getData(newPageNumber)">
                    </dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
