﻿<style>
    .ng-table-counts {
        display: none;
    }

    .ng-table-pager {
        float: right !important;
    }

    .task-desc a {
        font-weight: 600;
        display: inline-block;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    a:visited {
        color: #F37F69;
        text-decoration: none;
    }

    .task-desc span {
        display: block;
        color: #999;
        font-size: 11px;
        margin-top: -2px;
    }

    .modal-dialog.modal-lg {
        width: 98% !important;
    }

    .ui-select-container.ui-select-multiple.ui-select-bootstrap.dropdown.form-control.ng-valid {
        height: 38px !important;
    }

    .especial {
        font-size: 22px;
        font: bold;
        font-family: "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }

    .datatable-scroll {
        overflow-x: scroll;
    }

    table tbody tr td {
        border-right: none !important;
    }

    #tabla1 th {
        color: white !important;
    }

    .card .filter {
        position: relative;
        /* z-index: 0;*/
        background-color: rgba(255, 255, 255, 0.68) !important;
        top: 0;
        left: 0;
        width: 20%;
        text-align: center;
        /*opacity: 0;
    filter: alpha(opacity=0);*/
    }

    .sort-indicator {
        font-size: 14px;
        float: left;
    }

    .ntablecolab tr > td {
        font-size: 11px !important;
    }
</style>
<script type='text/javascript'>
function highlight(field) {
    field.focus();
    field.select();
}
</script>
<script type='text/javascript'>
$('#excel').tooltip();
</script>
<div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-hidden="true">×</button>
    <h4 class="modal-title">DETALLE DE TICKETS</h4>
</div>
<div class="modal-body" width="100%">
    <div class="container-fluid">
        <div class="row">

            <h4 class="pull-right" style="color: #969696">{{totalTickets}} Tickets</h4>


            <a class="pull-right" style="cursor:pointer;position: absolute;z-index:2" id="excel" data-toggle="tooltip" title="Exportar a excel" data-placement="right" ng-click="exportarexcel()">
                <img src="../../../../app/images/excel2.png" height="35px" width="35px" />
            </a>

        </div>

        <div class="row">
            <div class="card">
                <div class="datatable-scroll">
                    <table ng-table="tableParams" class="table table-striped panel ntablecolab" align="center" cellpadding="0" cellspacing="0">
                        <tr ng-repeat="tiob in $data">
                            <td data-title="'Número'" sortable="'numero'">
                               <span style="color:darkturquoise;">{{tiob.numero}}</span> 
							<!--    <span style="color:darkturquoise;" ng-click="openSD(tiob.numero)">{{tiob.numero}}</span> -->
                            </td>
                            <td data-title="'SLA Tiempo Solución'" sortable="'sla'">
                                {{tiob.sla}}
                            </td>
                            <td data-title="'Tiempo'" sortable="'tiempo'">
                                {{tiob.tiempo}}
                            </td>
                            <td data-title="'¿Cumplio?'" sortable="'status'">
                                <i class="fa fa-circle" aria-hidden="true" style="color:green; font-size: 1.5em " ng-show="tiob.status == 0"></i>
                                <i class="fa fa-circle" aria-hidden="true" style="color:yellow; font-size: 1.5em " ng-show="tiob.status == 1"></i>
                                <i class="fa fa-circle" aria-hidden="true" style="color:red; font-size: 1.5em " ng-show="tiob.status == 2"></i>
                            </td>
                            <td data-title="'Prioridad'" sortable="'severidad'">
                                {{tiob.severidad}}
                            </td>
                            <td data-title="'Tipo'" sortable="'tipo'">
                                {{tiob.tipo}}
                            </td>
                            <td data-title="'Resumen'" sortable="'resumen'">
                                {{tiob.resumen}}
                            </td>
                            <td data-title="'Servicio'" sortable="'servicio'">
                                {{tiob.servicio}}
                            </td>
                            <td data-title="'Proyecto'" sortable="'proyecto'">
                                {{tiob.proyecto}}
                            </td>
                            <td data-title="'Empresa'" sortable="'asignatario'">
                                {{tiob.asignatario}}
                            </td>
							 <td data-title="'Estado'" sortable="'estado'">
                                {{tiob.estado}}
                            </td>
<!--                            <td data-title="'Grupo'" sortable="'grupo'">
                                {{tiob.grupo}}
                            </td>
                            <td data-title="'Grupos'" ng-if="useri.empresa_id === 8" sortable="'tipo'">
                                <i class="fa fa-users" aria-hidden="true" style="color:#ff9510; font-size: 1.5em " ng-click="openticket(tiob.ticket)"></i>
                            </td>
                            <td data-title="'Estados'" ng-if="useri.empresa_id === 8" sortable="'severidad'">
                                <i class="fa fa-cogs" aria-hidden="true" style="color:#ff9510; font-size: 1.5em " ng-click="openstate(tiob.ticket)" ></i>
                            </td>-->
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
