<style>
.ng-table-counts {
    display: none;
}

.ng-table-pager {
    float: right !important;
}

.task-desc a {
    font-weight: 600;
    display: inline-block;
    margin-top: 3px;
    margin-bottom: 3px;
}

a:visited {
    color: #F37F69;
    text-decoration: none;
}

.task-desc span {
    display: block;
    color: #999;
    font-size: 11px;
    margin-top: -2px;
}

.modal-dialog.modal-lg {
    width: 98% !important;
}

.ui-select-container.ui-select-multiple.ui-select-bootstrap.dropdown.form-control.ng-valid {
    height: 38px !important;
}

.especial {
    font-size: 22px;
    font: bold;
    font-family: "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.datatable-scroll {
    overflow-x: scroll;
}

table tbody tr td {
    border-right: none !important;
}

#tabla1 th{
    color: white !important;
}

.card .filter {
    position: relative;
   /* z-index: 0;*/
    background-color: rgba(255, 255, 255, 0.68) !important;

    top: 0;
    left: 0;
    width: 20%;
    text-align: center;
    /*opacity: 0;
    filter: alpha(opacity=0);*/
}

.sort-indicator {
    font-size: 14px;
    float: left;

}
.ntablecolab tr > td {

    font-size: 11px !important;

}


</style>
<script type='text/javascript'>
function highlight(field) {
    field.focus();
    field.select();
}
</script>
<script type='text/javascript'>
    $('#excel').tooltip();
</script>

<div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-hidden="true">×</button>
    <h4 class="modal-title">DETALLE DE TICKETS</h4>
</div>

<div class="modal-body" width="100%">
    <div class="container-fluid">
        <div class="row">
            <h4 class="pull-right" style="color: #969696">{{totalTickets}} Tickets</h4>
            <a class="pull-right" style="cursor:pointer;position: absolute;z-index:2" id="excel" data-toggle="tooltip" title="Exportar a excel" data-placement="right" ng-click="exportarexcel()" >
                <img src="../../../../app/images/excel2.png" height="35px" width="35px" />
            </a>
        </div>

        <div class="row">
            <div class="card">
                <div class="datatable-scroll">
                    <table ng-table="tableParams" class="table table-striped panel ntablecolab" align="center" cellpadding="0" cellspacing="0" show-filter="true">
                        <tr ng-repeat="tiob in $data">
                            <td data-title="'Codigo Remedy'" sortable="'Codigo Remedy'" filter="{ 'work_Order_Id': 'text' }">
							<a ng-click="openSD(tiob.work_Order_Id)" style="cursor:pointer;">{{tiob.work_Order_Id}}</a> 
							<!--	<span style="color:darkturquoise;">{tiob.work_Order_Id}}</span>-->
                            </td>
                            <td data-title="'Categorizacion'" sortable="'categorization_Tier_1'" filter="{ 'categorization_Tier_1': 'text' }">
                                {{tiob.categorization_Tier_1}}
                            </td>
                            <td data-title="'Descripcion'" sortable="'summary'" filter="{ 'summary': 'text' }">
                                {{tiob.summary}}
                            </td>
                            <td data-title="'Empresa'" sortable="'location_Company'" filter="{ 'location_Company': 'text' }">
                                {{tiob.location_Company}}
                            </td>
                            <td data-title="'ALP PRY'" sortable="'alp'" filter="{ 'alp': 'text' }">
                                {{tiob.alp}}
                            </td>
                            <td data-title="'Grupo Soporte'" sortable="'asgrp'" filter="{ 'asgrp': 'text' }">
                                {{tiob.asgrp}}
                            </td>
                            <td data-title="'Fecha de Creacion'" sortable="'submit_Date'" filter="{ 'submit_Date': 'text' }">
                                {{tiob.submit_Date | date:"dd/MM/y HH:mm" }}
                            </td>
                            <td data-title="'Descripcion del proyecto'" sortable="'proyecto'" filter="{ 'proyecto': 'text' }">
                                {{tiob.proyecto}}
                            </td>

                           <!-- <td data-title="'Número'" filter="{ 'numero': 'text' }"><a ng-click="openSD(tiob.numero)" style="cursor:pointer;">
                                {tiob.numero}}</a>
                            </td>

                            <td data-title="'Tipo'" sortable="'tipo'" filter="{ 'tipo': 'text' }">
                                {tiob.tipo}}
                            </td>
                            <td data-title="'Resumen'" sortable="'resumen'" filter="{ 'resumen': 'text' }">
                                {tiob.resumen}}
                            </td>
                            <td data-title="'Descripción'" sortable="'descripcion'" filter="{ 'descripcion': 'text' }">
                                {tiob.descripcion}}
                            </td>
                            <td data-title="'Estado'" sortable="'estado'" filter="{ 'estado': 'text' }">
                                {tiob.estado}}
                            </td>
                            <td data-title="'Prioridad'" sortable="'prioridad'" filter="{ 'prioridad': 'text' }" >
                                {tiob.prioridad}}
                            </td>
                            <td data-title="'Empresa'" sortable="'proyecto'" filter="{ 'proyecto': 'text' }">
                                {tiob.proyecto}}
                            </td>
                            <td data-title="'Servicio'" sortable="'servicio'" filter="{ 'servicio': 'text' }">
                                {tiob.servicio}}
                            </td>
                            <td data-title="'Fecha Apertura'" sortable="'FechaApertura'" filter="{ 'FechaApertura': 'text' }">
                                {tiob.fechaApertura | date:"dd/MM/y HH:mm:ss"}}
                            </td>
                            <td data-title="'Fecha Resolución'" sortable="'FechaResolucion'" filter="{ 'FechaResolucion': 'text' }">
                                {tiob.fechaResolucion | date:"dd/MM/y HH:mm:ss"}}
                            </td>-->
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
