﻿<style>
    .req { 
            font-size: 90%; 
            font-style: italic; 
            color: red; 
        } 

    fieldset.scheduler-border {
        border: 1px groove #5BDAFA !important;
        padding: 0 2.5em 2.5em 2.5em !important;
        margin: 0 0 0 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }

    h5 {
            font-weight: bold;
            color: cadetblue;
        }

    .label {
            color: #000 !important;
            font-size: 100% !important;
        }

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 10 10px;
        border-bottom: none;
        color: #5BDAFA;
    }

    .form-group {
        margin-bottom: 1px !important;
    }

    .error {
        border-color: red;
    }

    .warning {
        border-color: orange;
    }

      .md-datepicker-calendar-pane{
        z-index: 1200}

     .datepickerdemo md-content {
            padding-bottom: 200px; 
         }
         
        .datepickerdemo .validation-messages {
            font-size: 11px;
            color: darkred;
            margin: 10px 0 0 25px; 
         }

    .eselected {
        background: #6d6e72;
        color: white;
    }
</style>
<script src="../../Scripts/bootstrap-filestyle.min.js"></script>

<div class="row">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()" aria-hidden="true">×</button>
        <h4 class="modal-title">Datos del Servidor</h4>
        <!--Titulo-->
    </div>
    <div class="modal-body">
        <form name="formInventario" class="form-horizontal" novalidate>
            <md-card>
                <md-dialog-content flex="100%">
                    <div class="md-dialog-content">
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab id="tab1">
                                <md-tab-label>Datos Principales</md-tab-label>
                                <md-tab-body>
                                    <md-content>
                                        <h5>Generales</h5>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <label>Nombre Equipo</label>
                                                    <input type="text" name="name" class="form-control" ng-model="em.hostname">
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Nombre Virtual</label>
                                                    <input type="text" name="name" class="form-control" ng-model="em.vmname" >
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Tipo Equipo</label>
                                                    <ui-select theme="bootstrap" ng-model="em.selectedTipo" >
                                                        <ui-select-match allow-clear="true" placeholder="Tipo Equipo">{{$select.selected.tipO_DESC}}</ui-select-match>
                                                        <ui-select-choices repeat="item in tipoequipo | filter: $select.search">
                                                            <div ng-bind-html="item.tipO_DESC | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-3">
                                                    <label>Consola de Adm(Vcenter, HMC, etc)</label>
                                                    <ui-select theme="bootstrap" ng-model="em.selectedvcenter">
                                                        <ui-select-match allow-clear="true" placeholder="Vcenter">{{$select.selected.vC_NOMBRE}}</ui-select-match>
                                                        <ui-select-choices repeat="item in vcenter | filter: $select.search">
                                                            <div ng-bind-html="item.vC_NOMBRE | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                                <div class="col-md-3">
                                                    <label>Estado Equipo</label>
                                                    <ui-select theme="bootstrap" ng-model="em.selectedestadoe" >
                                                        <ui-select-match allow-clear="true" placeholder="Estado Equipo">{{$select.selected.esT_DESC}}</ui-select-match>
                                                        <ui-select-choices repeat="item in estadoequipo | filter: $select.search">
                                                            <div ng-bind-html="item.esT_DESC | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="email">Fecha Alta </label>
                                                    <div class="input-group">
                                                        <md-datepicker ng-model="em.fechaalta" name="fechaalta" md-open-on-focus></md-datepicker>
                                                    </div>
                                                    

                                                    <!--<div class="input-group" datetimepicker on-change="vm.update(vm.fechaalta, vm.fechabaja)" ng-model="vm.fechaalta" options="vm.optionsFrom">
                                                        <input type="text" class="form-control" />
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>

                                                    </div>-->
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="email">Fecha Baja</label>
                                                    <div class="input-group">
                                                        <md-datepicker ng-model="em.fechabaja" name="fechabaja" md-open-on-focus></md-datepicker>
                                                    </div>
                                                    <!--<div class="input-group" datetimepicker on-change="vm.update(vm.fechaalta, vm.fechabaja)" ng-model="vm.fechabaja" options="vm.optionsTo">
                                                        <input type="text" class="form-control" />
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>

                                                    </div>-->
                                                </div>
                                            </div>
                                        </div>
                                        <h5>Propiedad</h5>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <label>Empresa</label>
                                                    <ui-select theme="bootstrap" ng-model="em.selectedempresa">
                                                        <ui-select-match allow-clear="true" placeholder="Empresa">{{$select.selected.eM_NOMBRE}}</ui-select-match>
                                                        <ui-select-choices repeat="item in empresa | filter: $select.search">
                                                            <div ng-bind-html="item.eM_NOMBRE | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Propiedad</label>
                                                    <ui-select theme="bootstrap" ng-model="em.selectedpropiedad">
                                                        <ui-select-match allow-clear="true" placeholder="Propiedad">{{$select.selected.proP_DESC}}</ui-select-match>
                                                        <ui-select-choices repeat="item in propiedad | filter: $select.search">
                                                            <div ng-bind-html="item.proP_DESC | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Ubicacion</label>
                                                    <ui-select theme="bootstrap" ng-model="em.selectedubicacion">
                                                        <ui-select-match allow-clear="true" placeholder="Ubicacion">{{$select.selected.ubiC_DESC}}</ui-select-match>
                                                        <ui-select-choices repeat="item in ubicacion | filter: $select.search">
                                                            <div ng-bind-html="item.ubiC_DESC | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <label>Administrado Por</label>
                                                    <ui-select theme="bootstrap" ng-model="em.selectedadministrado">
                                                        <ui-select-match allow-clear="true" placeholder="Administrado por">{{$select.selected.adminDesc}}</ui-select-match>
                                                        <ui-select-choices repeat="item in administrado | filter: $select.search">
                                                            <div ng-bind-html="item.adminDesc | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>

                                                <div class="col-md-4">
                                                    <label>Direccion IP</label>
                                                    <input type="text" name="name" class="form-control" ng-model="em.ip"> <!-- Cambio em.nrocpu -->
                                                </div>

                                            </div>

                             
                                        </div>
                                        <h5>Datos Uso</h5>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <label>Software Base</label>
                                                    <ui-select theme="bootstrap" ng-model="em.selectedsoftbase" ng-change="Softchange(em.selectedsoftbase.sO_ID)">
                                                        <ui-select-match allow-clear="true" placeholder="Software Base">{{$select.selected.sO_DESC}}</ui-select-match>
                                                        <ui-select-choices repeat="item in softbase | filter: $select.search">
                                                            <div ng-bind-html="item.sO_DESC | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Software Version</label>
                                                    <ui-select theme="bootstrap" ng-model="em.selectedsoftversion">
                                                        <ui-select-match allow-clear="true" placeholder="Software Version">{{$select.selected.vE_DESC}}</ui-select-match>
                                                        <ui-select-choices repeat="item in softversion | filter: $select.search">
                                                            <div ng-bind-html="item.vE_DESC | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Rol Uso</label>
                                                    <ui-select theme="bootstrap" ng-model="em.selectedroluso">
                                                        <ui-select-match allow-clear="true" placeholder="Rol Uso">{{$select.selected.roL_USODESC}}</ui-select-match>
                                                        <ui-select-choices repeat="item in roluso | filter: $select.search">
                                                            <div ng-bind-html="item.roL_USODESC | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <label>Ambiente</label>
                                                    <ui-select theme="bootstrap" ng-model="em.ambienteselected">
                                                        <ui-select-match allow-clear="true" placeholder="Ambiente">{{$select.selected.amB_DESC}}</ui-select-match>
                                                        <ui-select-choices repeat="item in ambiente | filter: $select.search">
                                                            <div ng-bind-html="item.amB_DESC | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Criticidad</label>
                                                    <ui-select theme="bootstrap" ng-model="em.selectedcriticidad">
                                                        <ui-select-match allow-clear="true" placeholder="Criticidad">{{$select.selected.criticaL_DESC}}</ui-select-match>
                                                        <ui-select-choices repeat="item in criticidad | filter: $select.search">
                                                            <div ng-bind-html="item.criticaL_DESC | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <label>Descripcion</label>
                                                    <input type="text" name="name" class="form-control" ng-model="em.descripcion">
                                                </div>

                                            </div>
                                        </div>
                                        <h5>Activo</h5>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <label>Familia</label>
                                                    <ui-select theme="bootstrap" ng-model="em.selectedfamilia" ng-change="Familiachange(em.selectedfamilia.faM_ID)">
                                                        <ui-select-match allow-clear="true" placeholder="Familia">{{$select.selected.faM_DESC}}</ui-select-match>
                                                        <ui-select-choices repeat="item in familia | filter: $select.search">
                                                            <div ng-bind-html="item.faM_DESC | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Clase</label>
                                                    <ui-select theme="bootstrap" ng-model="em.selectedclase">
                                                        <ui-select-match allow-clear="true" placeholder="Clase">{{$select.selected.clasE_ALIAS}}</ui-select-match>
                                                        <ui-select-choices repeat="item in clase | filter: $select.search">
                                                            <div ng-bind-html="item.clasE_ALIAS | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <label> </label>
                                                </div>
                                            </div>
                                        </div>
                                    </md-content>
                                </md-tab-body>
                            </md-tab>
                            <md-tab id="tab2">
                                <md-tab-label>Otros Datos</md-tab-label>
                                <md-tab-body>
                                    <md-content>
                                        <h5>Soporte/Garantia</h5>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <label>Estado Licencia</label>
                                                    <ui-select theme="bootstrap" ng-model="em.selectedestadolicencia">
                                                        <ui-select-match allow-clear="true" placeholder="Estado Licencia">{{$select.selected.licenciaDesc}}</ui-select-match>
                                                        <ui-select-choices repeat="item in estadolicencia | filter: $select.search">
                                                            <div ng-bind-html="item.licenciaDesc | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Licencia Nro</label>
                                                    <input type="text" name="name" class="form-control" ng-model="em.licencianro">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <label>Estado Soporte</label>
                                                    <ui-select theme="bootstrap" ng-model="em.selectedestadosoporte">
                                                        <ui-select-match allow-clear="true" placeholder="Estado Soporte">{{$select.selected.expirA_DESC}}</ui-select-match>
                                                        <ui-select-choices repeat="item in estadosoporte | filter: $select.search">
                                                            <div ng-bind-html="item.expirA_DESC | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="email">Soporte Desde</label>
                                                    <div class="input-group">
                                                        <md-datepicker ng-model="em.soportedesde" name="soportedesde" md-open-on-focus></md-datepicker>
                                                    </div>
                                                    <!--<div class="input-group" datetimepicker on-change="update(vm.soportedesde, vm.soportehasta)" ng-model="vm.soportedesde" options="vm.optionsFrom">
                                                        <input type="text" class="form-control" />
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>

                                                    </div>-->
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="email">Soporte Hasta</label>
                                                    <div class="input-group">
                                                        <md-datepicker ng-model="em.soportehasta" name="soportehasta" md-open-on-focus></md-datepicker>
                                                    </div>
                                                    <!--<div class="input-group" datetimepicker on-change="update(vm.soportedesde, vm.soportehasta)" ng-model="vm.soportehasta" options="vm.optionsTo">
                                                        <input type="text" class="form-control" />
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>

                                                    </div>-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <label>Estado Garantia</label>
                                                    <ui-select theme="bootstrap" ng-model="em.selectedestadogarantia">
                                                        <ui-select-match allow-clear="true" placeholder="Estado Garantia">{{$select.selected.garanEstadoDesc}}</ui-select-match>
                                                        <ui-select-choices repeat="item in estadogarantia | filter: $select.search">
                                                            <div ng-bind-html="item.garanEstadoDesc | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="email">Garantia Desde</label>
                                                    <div class="input-group">
                                                        <md-datepicker ng-model="em.garantiadesde" name="garantiadesde" md-open-on-focus></md-datepicker>
                                                    </div>
                                                    <!--<div class="input-group" datetimepicker on-change="vm.update(vm.garantiadesde, vm.garantiahasta)" ng-model="vm.garantiadesde" options="vm.optionsFrom">
                                                        <input type="text" class="form-control" />
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>

                                                    </div>-->
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="email">Garantia Hasta</label>
                                                    <div class="input-group">
                                                        <md-datepicker ng-model="em.garantiahasta" name="garantiahasta" md-open-on-focus></md-datepicker>
                                                    </div>
                                                    <!--<div class="input-group" datetimepicker on-change="vm.update(vm.garantiadesde, vm.garantiahasta)" ng-model="vm.garantiahasta" options="vm.optionsTo">
                                                        <input type="text" class="form-control" />
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>

                                                    </div>-->
                                                </div>
                                            </div>
                                        </div>
                                        <h5>Activo</h5>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-3">
                                                    <label>Nro. Activo</label>
                                                    <input type="text" name="name" class="form-control" ng-model="em.nroactivo">
                                                </div>
                                                <div class="col-md-3">
                                                    <label>Nro. Serie</label>
                                                    <input type="text" name="name" class="form-control" ng-model="em.nroserie">
                                                </div>
                                                <div class="col-md-3">
                                                    <label>Part Number</label>
                                                    <input type="text" name="name" class="form-control" ng-model="em.partnumber">
                                                </div>
                                                <div class="col-md-3">
                                                    <label>CID</label>
                                                    <input type="text" name="name" class="form-control" ng-model="em.cid">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">

                                                <div class="col-md-3">
                                                    <label>Ru Desde</label>
                                                    <input type="number" name="name" class="form-control" ng-model="em.rudesde">
                                                </div>
                                                <div class="col-md-3">
                                                    <label>Ru Hasta</label>
                                                    <input type="number" name="name" class="form-control" ng-model="em.ruhasta">
                                                </div>
                                                <div class="col-md-3">
                                                    <label>Bahia Desde</label>
                                                    <input type="number" name="name" class="form-control" ng-model="em.bahiadesde">
                                                </div>
                                                <div class="col-md-3">
                                                    <label>Bahia Hasta</label>
                                                    <input type="number" name="name" class="form-control" ng-model="em.bahiahasta">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <label>Marca</label>
                                                    <ui-select theme="bootstrap" ng-model="em.selectedmarca" ng-change="Marcachange(em.selectedmarca.marcA_ID)">
                                                        <ui-select-match allow-clear="true" placeholder="Marca">{{$select.selected.marcA_DESC}}</ui-select-match>
                                                        <ui-select-choices repeat="item in marca | filter: $select.search">
                                                            <div ng-bind-html="item.marcA_DESC | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Modelo</label>
                                                    <ui-select theme="bootstrap" ng-model="em.selectedmodelo">
                                                        <ui-select-match allow-clear="true" placeholder="Modelo">{{$select.selected.mO_MODELO}}</ui-select-match>
                                                        <ui-select-choices repeat="item in modelo | filter: $select.search">
                                                            <div ng-bind-html="item.mO_MODELO | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Item rack</label>
                                                    <input type="text" name="name" class="form-control" ng-model="em.itemrack">
                                                </div>
                                            </div>
                                        </div>
                                        <h5>Capacidades</h5>
                                        <div class="row">
                                            <div class="col-md-12">

                                                <div class="col-md-3">
                                                    <label>Ram (GB)</label>
                                                    <input type="number" name="name" class="form-control" ng-model="em.ram">
                                                </div>
                                                <div class="col-md-3">
                                                    <label>Socket</label>
                                                    <input type="number" name="name" class="form-control" ng-model="em.socket">
                                                </div>
                                                <div class="col-md-3">
                                                    <label>Nro Core</label>
                                                    <input type="number" name="name" class="form-control" ng-model="em.nrocore">
                                                </div>
                                                <div class="col-md-3">
                                                    <label>Nro CPU</label>
                                                    <input type="number" name="name" class="form-control" ng-model="em.nrocpu">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-3">
                                                    <label>Disco Asignado (GB)</label>
                                                    <input type="number" name="name" class="form-control" ng-model="em.discoasign">
                                                </div>
                                                <div class="col-md-3">
                                                    <label>Disco Aprovisionado</label>
                                                    <input type="number" name="name" class="form-control" ng-model="em.discoaprov">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <label> </label>
                                                </div>
                                            </div>
                                        </div>
                                    </md-content>
                                </md-tab-body>
                            </md-tab>
                        </md-tabs>
                    </div>
                </md-dialog-content>
            </md-card>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default btn-fill" ng-click="close()">Cerrar</button>
        <!-- <button class="btn btn-success btn-fill" ng-click="clickInsertar(em.hostname, em.vmname, em.selectedTipo.tipO_ID , em.selectedvcenter.vcid , em.selectedestadoe.esT_ID , em.fechaalta, em.fechabaja, em.selectedempresa.eM_ID , em.selectedpropiedad.proP_ID , em.selectedubicacion.ubiC_ID , em.selectedadministrado.adminID,  em.selectedsoftbase.sO_ID , em.selectedsoftversion.vE_ID , em.selectedroluso.roL_USOID , em.ambienteselected.amB_ID, em.selectedcriticidad.criticaL_ID, em.descripcion, em.selectedfamilia.faM_ID , em.selectedclase.clasE_ID , em.selectedestadolicencia.licenciaID , em.licencianro, em.selectedestadosoporte.expirA_ID, em.soportedesde, em.soportehasta, em.selectedestadogarantia.garanEstadoId , em.garantiadesde, em.garantiahasta, em.nroactivo, em.nroserie, em.partnumber, em.cid, em.rudesde, em.ruhasta, em.bahiadesde, em.bahiahasta, em.selectedmarca.marcA_ID , em.selectedmodelo.modelO_ID, em.itemrack, em.ram, em.socket, em.nrocore, em.nrocpu, em.discoasign, em.discoaprov)" >Grabar</button>-->
    </div>
</div>
