﻿<div class="container-fluid ng-cloak">
    <div class="row">
        <div class="card">
            <div class="row">
                <div class="col-md-12" ng-controller="Reporte11">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel-heading">SAP - NUMERO DE USUARIOS CONCURRENTES</div>
                                <!--- Aqui Va la opcion escogida  -->
                            </div>
                            <!--<div style="float:right;">
                                <button type="button" class="btn btn-warning btn-xs btn-fill" ng-click="verticket()">
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Ver tickets
                                </button>
                            </div>-->
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="btn-group">
                                        </div>
                                        <div class="col-md-4">
                                            <ui-select theme="bootstrap" ng-model="form.selectedEmpresa11" style="width: 100%;">
                                                <ui-select-match allow-clear="true" placeholder="Empresa">{{$select.selected.eM_NOMBRE}}</ui-select-match>
                                                <ui-select-choices repeat="empresa in empresas | filter: $select.search">
                                                    <div ng-bind-html="empresa.eM_NOMBRE | highlight: $select.search"></div>
                                                    <!-- <small ng-bind-html="item.client_id | highlight: $select.search"></small> -->
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                               <div class="input-group">
                                                    <input type="text" class="form-control" datetimepicker
                                                           ng-model="form.expirationdate" options="options" name="expirationdate" required />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <button class="btn btn-success btn-fill" ng-click="getchart(2,form.selectedEmpresa11.eM_ID,dash11,form.expirationdate)">Buscar</button>
                                        </div>
                                </div>
                                <br />
                                <div class="row">
                                    <!--<div class="col-md-4">
                                        <ui-select theme="bootstrap" ng-model="form.selectedServicio9" on-select="onSelected(form.selectedEmpresa9, dash9, periodo9, form.selectedServicio9, form.selectedPrioridad9)" style="width: 100%;">
                                            <ui-select-match allow-clear="true" placeholder="Servicio">{{$select.selected.sE_NOMBRE}}</ui-select-match>
                                            <ui-select-choices repeat="servicio in servicios | filter: $select.search">
                                                <div ng-bind-html="servicio.sE_NOMBRE | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="pull-right" >
                        </div>
                        <div class="col-md-12">
                            <hr />
                        </div>
                    </div>
                        <div class="content">
                            <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" chart-options="options" chart-series="series" chart-colors="colors" chart-click="onClick"></canvas>
                        </div>
                        <div class="footer">
                            <table class="table table-hover table-bordered" align="center">
                                <thead>
                                    <tr>
                                        <th ng-repeat="label in fullkeys11">{{label}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(key, val) in ff11 ">
                                        <td ng-repeat="var in ff11[$index] track by $index">{{var}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>